<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/search/search.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<body>


<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>

        <div class="flex-full-width" style="margin-top: 50px">
            <div class="relative">
                <div style="position: sticky; top: 132px; transition: top 0.1s ease 0s; z-index: 10;">
                    <div class="relative">
                        <div class="white-center">
                            <div class="search-tag-layout">
                                <!--전체, 아이디어, 유저 태그-->
                                <div class="search-tag-wrapper">
                                    <!--아래의 span 태그가 검색 결과만큼 반복됨-->
                                    <span>
                                        <label class="search-tag">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text">전체</span>
                                        </label>
                                    </span>

                                    <span>
                                        <label class="search-tag">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text">아이디어</span>
                                        </label>
                                    </span>

                                    <span>
                                        <label class="search-tag-active">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text">유저</span>
                                        </label>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="container">
            <div>
                <div class="search-result-summary-wrapper">
                    <p class="search-result">
                        '디자인'에 대한 유저 검색 결과
                    </p>
                </div>

                <div class="search-user-list-wrapper">
                    <!--아래의 div 태그를 검색 결과만큼 반복-->
                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                    <span class="search-user-name">사용자 이름</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>

                    <div>
                        <li class="search-user-item-wrapper">
                            <a href="">
                                <div class="search-user-profile-wrapper">
                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1" class="search-user-profile">
                                    <span class="search-user-name">사용자 닉네임</span>
                                </div>
                            </a>
                            <div class="user-profile-btn-wrapper">
                                <button class="user-profile-btn">
                                    <svg fill="none" viewBox="0 0 8 8" width="1em" height="1em" class="user-profile-more-btn">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77.14H3.23v3.09H.14v1.54h3.09v3.09h1.54V4.77h3.09V3.23H4.77V.14z" fill="currentColor"></path>
                                    </svg>
                                    프로필 더보기
                                </button>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </section>



        <footer th:replace="~{/fix/footer :: #main-footer}"></footer>
    </div>
</div>


</body>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>


</html>