<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="../../static/images/icon/favicon.png">
    <link rel="stylesheet" href="../../static/css/search/search.css">
</head>
<body>


<div class="full-height">
    <div class="layout">
        <div id="headers"></div>

        <div class="flex-full-width">
            <div class="relative">
                <div style="position: sticky; top: 132px; transition: top 0.1s ease 0s; z-index: 10;">
                    <div class="relative">
                        <div class="white-center">
                            <div class="search-tag-layout">
                                <!--전체, 아이디어, 유저 태그-->
                                <div class="search-tag-wrapper">
                                    <!--아래의 span 태그가 검색 결과만큼 반복됨-->
                                    <span>
                                        <label class="search-tag-active">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text">전체</span>
                                        </label>
                                    </span>

                                    <span>
                                        <label class="search-tag">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text">아이디어</span>
                                        </label>
                                    </span>

                                    <span>
                                        <label class="search-tag">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text">유저</span>
                                        </label>
                                    </span>

                                </div>

                                <div class="search-result-summary-wrapper">
                                    <p class="search-result">
                                        '디자인'에 대한 전체 검색 결과
                                    </p>
                                </div>

                                <!--아이디어 검색 결과-->
                                <section class="search-item">
                                    <header class="search-item-header">
                                        <h1 class="search-item-title search-item-title-hide-count">
                                            아이디어
                                            <span class="count">7,513</span>
                                        </h1>
                                        <a class="search-item-more-btn-pc" href="">더보기</a>
                                    </header>

                                    <div class="row">
                                        <!--아래의 div 반복-->
                                        <div class="item-col item-layout">
                                            <article class="search-project-item">
                                                <a class="search-project-item-link" href=""></a>
                                                <div class="search-project-item-img-wrap">
                                                    <div class="search-project-item-img">
                                                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168863255206097244.jpg?gif=1&amp;w=320&amp;h=214&amp;c=c">
                                                    </div>
                                                    <button class="search-project-item-scrap" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <path id="scrap-icon-21-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                <filter id="scrap-icon-21-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                </filter>
                                                                <filter id="scrap-icon-21-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                                                                    <feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                </filter>
                                                            </defs>
                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                <use fill="#000" filter="url(#scrap-icon-21-a)" href="#scrap-icon-21-b"></use>
                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-21-b"></use>
                                                                <use fill="#000" filter="url(#scrap-icon-21-c)" href="#scrap-icon-21-b"></use>
                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="search-project-item-info">
                                                    <p class="search-project-item-info-title">
                                                        <span>모던한 <b class="search-query-highlight">디자인</b>과 톤 다운으로 차분하게 변신한 신혼집</span></p>
                                                    <div class="search-project-item-info-user">
                                                        <img class="search-project-item-info-user-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168787296081361529.jpeg?gif=1&amp;w=240&amp;h=240&amp;c=c">
                                                        <span class="search-project-item-info-user-nickname">harii_yng</span>
                                                    </div>
                                                    <div class="search-project-item-info-status">스크랩 370 ∙ 조회 10,981 </div>
                                                </div>
                                            </article>
                                        </div>

                                        <div class="item-col item-layout">
                                            <article class="search-project-item">
                                                <a class="search-project-item-link" href=""></a>
                                                <div class="search-project-item-img-wrap">
                                                    <div class="search-project-item-img">
                                                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168863255206097244.jpg?gif=1&amp;w=320&amp;h=214&amp;c=c">
                                                    </div>
                                                    <button class="search-project-item-scrap" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <path id="scrap-icon-21-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                <filter id="scrap-icon-21-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                </filter>
                                                                <filter id="scrap-icon-21-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                                                                    <feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                </filter>
                                                            </defs>
                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                <use fill="#000" filter="url(#scrap-icon-21-a)" href="#scrap-icon-21-b"></use>
                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-21-b"></use>
                                                                <use fill="#000" filter="url(#scrap-icon-21-c)" href="#scrap-icon-21-b"></use>
                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="search-project-item-info">
                                                    <p class="search-project-item-info-title">
                                                        <span>모던한 <b class="search-query-highlight">디자인</b>과 톤 다운으로 차분하게 변신한 신혼집</span></p>
                                                    <div class="search-project-item-info-user">
                                                        <img class="search-project-item-info-user-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168787296081361529.jpeg?gif=1&amp;w=240&amp;h=240&amp;c=c">
                                                        <span class="search-project-item-info-user-nickname">harii_yng</span>
                                                    </div>
                                                    <div class="search-project-item-info-status">스크랩 370 ∙ 조회 10,981 </div>
                                                </div>
                                            </article>
                                        </div>

                                        <div class="item-col item-layout">
                                            <article class="search-project-item">
                                                <a class="search-project-item-link" href=""></a>
                                                <div class="search-project-item-img-wrap">
                                                    <div class="search-project-item-img">
                                                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168863255206097244.jpg?gif=1&amp;w=320&amp;h=214&amp;c=c">
                                                    </div>
                                                    <button class="search-project-item-scrap" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <path id="scrap-icon-21-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                <filter id="scrap-icon-21-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                </filter>
                                                                <filter id="scrap-icon-21-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                                                                    <feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                </filter>
                                                            </defs>
                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                <use fill="#000" filter="url(#scrap-icon-21-a)" href="#scrap-icon-21-b"></use>
                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-21-b"></use>
                                                                <use fill="#000" filter="url(#scrap-icon-21-c)" href="#scrap-icon-21-b"></use>
                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="search-project-item-info">
                                                    <p class="search-project-item-info-title">
                                                        <span>모던한 <b class="search-query-highlight">디자인</b>과 톤 다운으로 차분하게 변신한 신혼집</span></p>
                                                    <div class="search-project-item-info-user">
                                                        <img class="search-project-item-info-user-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168787296081361529.jpeg?gif=1&amp;w=240&amp;h=240&amp;c=c">
                                                        <span class="search-project-item-info-user-nickname">harii_yng</span>
                                                    </div>
                                                    <div class="search-project-item-info-status">스크랩 370 ∙ 조회 10,981 </div>
                                                </div>
                                            </article>
                                        </div>

                                        <div class="item-col item-layout">
                                            <article class="search-project-item">
                                                <a class="search-project-item-link" href=""></a>
                                                <div class="search-project-item-img-wrap">
                                                    <div class="search-project-item-img">
                                                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168863255206097244.jpg?gif=1&amp;w=320&amp;h=214&amp;c=c">
                                                    </div>
                                                    <button class="search-project-item-scrap" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <path id="scrap-icon-21-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                <filter id="scrap-icon-21-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                </filter>
                                                                <filter id="scrap-icon-21-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                                                                    <feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                </filter>
                                                            </defs>
                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                <use fill="#000" filter="url(#scrap-icon-21-a)" href="#scrap-icon-21-b"></use>
                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-21-b"></use>
                                                                <use fill="#000" filter="url(#scrap-icon-21-c)" href="#scrap-icon-21-b"></use>
                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="search-project-item-info">
                                                    <p class="search-project-item-info-title">
                                                        <span>모던한 <b class="search-query-highlight">디자인</b>과 톤 다운으로 차분하게 변신한 신혼집</span></p>
                                                    <div class="search-project-item-info-user">
                                                        <img class="search-project-item-info-user-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168787296081361529.jpeg?gif=1&amp;w=240&amp;h=240&amp;c=c">
                                                        <span class="search-project-item-info-user-nickname">harii_yng</span>
                                                    </div>
                                                    <div class="search-project-item-info-status">스크랩 370 ∙ 조회 10,981 </div>
                                                </div>
                                            </article>
                                        </div>

                                        <div class="item-col item-layout">
                                            <article class="search-project-item">
                                                <a class="search-project-item-link" href=""></a>
                                                <div class="search-project-item-img-wrap">
                                                    <div class="search-project-item-img">
                                                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168863255206097244.jpg?gif=1&amp;w=320&amp;h=214&amp;c=c">
                                                    </div>
                                                    <button class="search-project-item-scrap" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <path id="scrap-icon-21-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                <filter id="scrap-icon-21-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                </filter>
                                                                <filter id="scrap-icon-21-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                                                                    <feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                </filter>
                                                            </defs>
                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                <use fill="#000" filter="url(#scrap-icon-21-a)" href="#scrap-icon-21-b"></use>
                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-21-b"></use>
                                                                <use fill="#000" filter="url(#scrap-icon-21-c)" href="#scrap-icon-21-b"></use>
                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="search-project-item-info">
                                                    <p class="search-project-item-info-title">
                                                        <span>모던한 <b class="search-query-highlight">디자인</b>과 톤 다운으로 차분하게 변신한 신혼집</span></p>
                                                    <div class="search-project-item-info-user">
                                                        <img class="search-project-item-info-user-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168787296081361529.jpeg?gif=1&amp;w=240&amp;h=240&amp;c=c">
                                                        <span class="search-project-item-info-user-nickname">harii_yng</span>
                                                    </div>
                                                    <div class="search-project-item-info-status">스크랩 370 ∙ 조회 10,981 </div>
                                                </div>
                                            </article>
                                        </div>

                                        <div class="item-col item-layout">
                                            <article class="search-project-item">
                                                <a class="search-project-item-link" href=""></a>
                                                <div class="search-project-item-img-wrap">
                                                    <div class="search-project-item-img">
                                                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168863255206097244.jpg?gif=1&amp;w=320&amp;h=214&amp;c=c">
                                                    </div>
                                                    <button class="search-project-item-scrap" type="button">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <defs>
                                                                <path id="scrap-icon-21-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                <filter id="scrap-icon-21-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                </filter>
                                                                <filter id="scrap-icon-21-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur>
                                                                    <feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset>
                                                                    <feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                </filter>
                                                            </defs>
                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                <use fill="#000" filter="url(#scrap-icon-21-a)" href="#scrap-icon-21-b"></use>
                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-21-b"></use>
                                                                <use fill="#000" filter="url(#scrap-icon-21-c)" href="#scrap-icon-21-b"></use>
                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                            </g>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div class="search-project-item-info">
                                                    <p class="search-project-item-info-title">
                                                        <span>모던한 <b class="search-query-highlight">디자인</b>과 톤 다운으로 차분하게 변신한 신혼집</span></p>
                                                    <div class="search-project-item-info-user">
                                                        <img class="search-project-item-info-user-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168787296081361529.jpeg?gif=1&amp;w=240&amp;h=240&amp;c=c">
                                                        <span class="search-project-item-info-user-nickname">harii_yng</span>
                                                    </div>
                                                    <div class="search-project-item-info-status">스크랩 370 ∙ 조회 10,981 </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <a href="" class="search-item-more-btn-mobile-wrapper">
                                        <button class="search-item-more-btn-mobile">
                                            더보기
                                            <span class="count">7,513</span>
                                            <span class="arrow"></span>
                                        </button>
                                    </a>
                                </section>

                                <!--유저 검색 결과-->
                                <section class="search-item">
                                    <header class="search-item-header">
                                        <h1 class="search-item-title search-item-title-hide-count">
                                            유저
                                            <span class="count">27</span>
                                        </h1>
                                        <a class="search-item-more-btn-pc" href="">더보기</a>
                                    </header>

                                    <div class="row">
                                        <!--아래의 div 반복-->
                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/1550129611105_6.jpg?gif=1&amp;w=40&amp;h=40&amp;c=c">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="item-col item-user-layout">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=360&webp=1">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text">디자인큐원</span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix">안녕하세요</span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div id="footers"></div>
    </div>
</div>


</body>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../../static/js/fix/header.js"></script>


</html>