<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/search/search.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
</head>
<body>


<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>

        <div class="flex-full-width" style="margin-top: 50px">
            <div class="relative">
                <div style="position: sticky; top: 132px; transition: top 0.1s ease 0s; z-index: 10;">
                    <div class="relative">
                        <div class="white-center">
                            <div class="search-tag-layout">
                                <!--전체, 아이디어, 유저 태그-->
                                <div class="search-tag-wrapper">
                                    <!--아래의 span 태그가 검색 결과만큼 반복됨-->
                                    <span>
                                        <label class="search-tag-active">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text" id="search-all">전체</span>
                                        </label>
                                    </span>

                                    <span>
                                        <label class="search-tag">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text" id="search-idea">아이디어</span>
                                        </label>
                                    </span>

                                    <span>
                                        <label class="search-tag">
                                            <input type="checkbox" class="search-tag-checkbox">
                                            <span class="search-tag-text" id="search-user">유저</span>
                                        </label>
                                    </span>

                                </div>

                                <div class="search-result-summary-wrapper">
                                    <p class="search-result">
                                        '<span th:text="${keyword}"></span>'에 대한 전체 검색 결과
                                    </p>
                                </div>

                                <!--아이디어 검색 결과-->
                                <section class="search-item">
                                    <header class="search-item-header">
                                        <h1 class="search-item-title search-item-title-hide-count">
                                            아이디어
                                            <span class="count" th:text="${#lists.size(ideas)}"></span>
                                        </h1>
                                        <a class="search-item-more-btn-pc" href="">더보기</a>
                                    </header>

                                    <div class="row">
                                        <!--아래의 div 반복-->
                                        <div class="item-col item-layout" th:each="idea, status : ${ideas}" th:if="${status.count <= 6}">
                                            <article class="search-project-item">
                                                <a class="search-project-item-link" th:href="@{/idea/detail(id=${idea.id}, ideaPrice=${hopePriceIndex}, ideaMax=${ideaMaxIndex})}"></a>
                                                <div class="search-project-item-img-wrap">
                                                    <div class="search-project-item-img" th:each="file : ${idea.files}" th:if="${file.ideaFileType == 'REPRESENTATIVE'}">
                                                        <img th:src="'/idea-files/display?fileName=' + ${file.ideaFilePath} + '/t_' + ${file.ideaFileUuid} + '_' + ${file.ideaFileName}">
                                                    </div>
                                                </div>
                                                <div class="search-project-item-info">
                                                    <p class="search-project-item-info-title" th:text="${idea.ideaTitle}"></p>
                                                    <div class="search-project-item-info-user">
                                                        <!--프로필 이미지-->
                                                        <img class="search-project-item-info-user-img" src="/images/icon/null.png">
                                                        <span class="search-project-item-info-user-nickname" th:text="${idea.userNickname}"></span>
                                                    </div>
                                                    <div class="search-project-item-info-status">스크랩 <span th:text="${idea.ideaScarpCount}"></span> ∙ 조회 <span th:text="${idea.ideaReadCount}"></span> </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </section>

                                <!--유저 검색 결과-->
                                <section class="search-item">
                                    <header class="search-item-header">
                                        <h1 class="search-item-title search-item-title-hide-count">
                                            유저
                                            <span class="count" th:text="${#lists.size(users)}"></span>
                                        </h1>
                                        <a class="search-item-more-btn-pc" href="">더보기</a>
                                    </header>

                                    <div class="row">
                                        <!--아래의 div 반복-->
                                        <div class="item-col item-user-layout" th:each="user, status : ${users}" th:if="${status.count <= 8}">
                                            <a href="" class="user-feed-card-wrap">
                                                <div class="user-feed-card">
                                                    <div class="user-feed-card-content">
                                                        <div class="user-feed-card-profile">
                                                            <img src="/images/icon/null.png">
                                                        </div>
                                                        <div class="user-feed-card-summary">
                                                            <p class="user-feed-card-name">
                                                                <span class="user-feed-card-name-text" th:text="${user.userNickname}"></span>
                                                            </p>
                                                            <p class="user-feed-card-footer">
                                                                <span class="user-feed-card-footer-introduce" th:if="${user.userIntro} != null">
                                                                    <span class="user-feed-card-footer-introduce-value">한 줄 소개</span>
                                                                    <span class="user-feed-card-footer-introduce-prefix" th:text="${user.userIntro}"></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <footer th:replace="~{/fix/footer :: #main-footer}"></footer>
    </div>
</div>



</body>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<script th:inline="javascript">
    let ideas = [[${ideas}]];
    console.log(ideas);

    let users = [[${users}]];
    console.log(users);

    let keyword = [[${keyword}]];
    console.log(keyword);

    if (keyword && keyword.length > 0) {
        $('#search-bar').val(keyword);
    }
</script>
<script src="/js/search/search.js"></script>


</html>