@charset "utf-8";

* {
    font-family: 'Pretendard Variable';
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

input:focus{
    outline: none;
}

.full-height{
    height: 100%;
}

.background-layout{
    width: 100%;
    height: 100%;
    background: rgb(247, 248, 250);
}

.item-layout{
    width: 100%;
    max-width: 350px;
    padding: 140px 35px 0px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.logo-wrapper{
    display: inline-block;
    height: 50px;
    margin-bottom: 50px;
}

.psw-form-wrapper{
    max-width: 350px;
    margin-bottom: 20px;
}

.password{
    padding: 8px 15px 9px;
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

.psw-submit-btn{
    width: 100%;
    margin-top: 20px;
    font-size: 17px;
    line-height: 26px;
    padding: 11px 10px;
    background-color: #eacaff;
    border-color: #eacaff;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}