<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/community/listMine.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">

</head>
<body>

<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>

        <div class="customer-notice-list">
            <div class="myhome-nav">
                <nav class="page-navigation myhome-nav-owner">
                    <ul>
                        <li class="page-navigation-item">
                            <a href="">프로필</a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="" class="active">나의 쇼핑</a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">나의 리뷰</a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">설정</a>
                        </li>
                    </ul>
                </nav>
                <nav class="page-navigation">
                    <ul>
                        <li class="page-navigation-item">
                            <a href="">주문배송내역 </a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">주문배송내역 </a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">주문배송내역 </a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">주문배송내역 </a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">주문배송내역 </a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="" class="active">주문배송내역 </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="customer-notice-list-content">
                <!--<h1 class="customer-notice-list-title">공지사항</h1>-->
                <div id="com-listMine">
                    <!--아래의 div 태그를 내 게시물 갯수만큼 반복-->
                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>

                    <div class="customer-notice-list-item">
                        <a href="" class="customer-notice-feed-item">
                            <article class="customer-notice-feed-item-content">
                                <div>
                                    <p class="customer-notice-feed-item-sort">창업</p>
                                    <h1 class="customer-notice-feed-item-title">게시글 제목</h1>
                                    <time class="customer-notice-feed-item-date">2023.07.06</time>
                                </div>
                                <aside class="card-item-action-list">
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="like" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                            <path d="M23.22 7.95c.4 4.94-2.92 9.71-10.92 13.85a.47.47 0 0 1-.42 0C3.88 17.66.56 12.9.96 7.93 1.54 2.48 8.28.3 12.1 4.7c3.8-4.4 10.55-2.22 11.13 3.25z"></path>
                                        </svg>
                                        <span class="count">73</span>
                                    </button>
                                    <button type="button" class="card-item-action-list-action">
                                        <svg class="comment" width="24" height="24" viewBox="0 0 24 24">
                                            <path fill="currentColor" fill-rule="nonzero" d="M13.665 18.434l.53-.066C19.69 17.679 23 14.348 23 10c0-4.942-4.235-8.5-11-8.5S1 5.058 1 10c0 4.348 3.31 7.68 8.804 8.368l.531.066L12 21.764l1.665-3.33zm-3.985.926C3.493 18.585 0 14.69 0 10 0 4.753 4.373.5 12 .5S24 4.753 24 10c0 4.69-3.493 8.585-9.68 9.36l-1.647 3.293c-.374.75-.974.744-1.346 0L9.68 19.36z"></path>
                                        </svg>
                                        <span class="count">22</span>
                                    </button>
                                </aside>
                            </article>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{/fix/footer :: #main-footer}"></footer>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
    let posts = [[${posts}]];
    let nowPage = [[${pagination.page}]]
    let order = [[${search.order}]]
    let memberId = [[${session.memberId}]];
</script>
<script src="/js/community/listMine.js"></script>

</html>