<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/mypage/ict.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/community/listMine.css">
</head>
<body>
<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>

        <main class="content-detail">
            <div class="">
                <div class="myhome-nav">
                    <nav class="page-navigation myhome-nav-owner">
                        <ul>
                            <li class="page-navigation-item">
                                <a href="" class="active">아이디어</a>
                            </li>
                            <li class="page-navigation-item">
                                <a href="">설정</a>
                            </li>
                            <li class="page-navigation-item">
                                <a href="">사업자 등록</a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="page-navigation">
                        <ul>
                            <li class="page-navigation-item">
                                <a href="">홈</a>
                            </li>
                            <li class="page-navigation-item">
                                <a href="" class="active">내 아이디어</a>
                            </li>
                            <li class="page-navigation-item">
                                <a href="">구현 목록</a>
                            </li>
                            <li class="page-navigation-item">
                                <a href="">내 게시글 </a>
                            </li>
                            <li class="page-navigation-item">
                                <a href="">스크랩북 </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="ict-content-wrapper">
                    <div class="ict-content-layout">
                        <div class="profile-wrapper">
                            <div style="position: sticky; top: 80.75px; transition: top 0.1s ease 0s;">
                                <div style="position: relative;">
                                    <div>
                                        <div class="profile-container">
                                            <div class="profile-share-btn-wrapper">
                                                <button type="button" class="profile-share-btn">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" preserveAspectRatio="xMidYMid meet"><path d="M9.64 14.646a4.5 4.5 0 1 1 0-5.292l4.54-2.476a4.5 4.5 0 1 1 .63.795l-4.675 2.55c.235.545.365 1.146.365 1.777s-.13 1.232-.365 1.777l4.675 2.55a4.5 4.5 0 1 1-.63.795l-4.54-2.476zM18 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM6 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM18 23a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path></svg>
                                                </button>
                                            </div>

                                            <div class="profile-content-wrapper">
                                                <div class="profile-img-wrapper">
                                                    <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&w=240&h=240&c=c&webp=1" class="profile-img">
                                                </div>
                                                <div class="profile-content-detail-wrapper">
                                                    <div class="profile-user-nickname">사용자 닉네임</div>
                                                    <div class="profile-content-detail">
                                                        <dl class="profile-content-detail-text">
                                                            <dt>한 줄 소개</dt>
                                                            <dd>한 줄 소개 입력란</dd>
                                                        </dl>
                                                        <dl class="profile-content-detail-text">
                                                            <dt>관심분야</dt>
                                                            <dd>가구, 요리, 디자인</dd>
                                                        </dl>
                                                        <div class="profile-modify-link-wrapper">
                                                            <a href="" class="profile-modify-link">설정</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="profile-status-wrapper">
                                                <div class="profile-status-layout">
                                                    <a href="" class="profile-list-wrapper">
                                                        <div class="profile-list-icon-wrapper">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" preserveAspectRatio="xMidYMid meet"><path fill-rule="evenodd" transform="matrix(1 0 0 -1 0 23.033)" d="M12.943 6.342a2 2 0 0 1-1.886 0L3 2.032V20.5a.5.5 0 0 0 .5.5h17a.5.5 0 0 0 .5-.5V2.033l-8.057 4.309zm-.471-.882l8.056-4.31A1 1 0 0 1 22 2.034V20.5a1.5 1.5 0 0 1-1.5 1.5h-17A1.5 1.5 0 0 1 2 20.5V2.033a1 1 0 0 1 1.472-.882l8.056 4.31a1 1 0 0 0 .944 0z"></path></svg>
                                                        </div>
                                                        <div class="profile-list-text">스크랩북</div>
                                                        <div class="profile-list-total">5</div>
                                                    </a>

                                                    <a href="" class="profile-list-wrapper">
                                                        <div class="profile-list-icon-wrapper">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"><path fill="currentColor" d="M22.971 7.638c-.548-5.17-7.119-7.135-10.57-2.488a.5.5 0 0 1-.802 0C8.148.503 1.577 2.469 1.029 7.625.642 12.451 3.897 17.183 12 21.436c8.104-4.252 11.36-8.984 10.972-13.798zm.996-.093c.428 5.319-3.137 10.446-11.738 14.899a.5.5 0 0 1-.46 0C3.169 17.99-.395 12.864.034 7.532.656 1.67 7.904-.683 12 4.052 16.096-.683 23.344 1.67 23.967 7.545z"></path></svg>
                                                        </div>
                                                        <div class="profile-list-text">좋아요</div>
                                                        <div class="profile-list-total">2</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--여백-->
                        <div class="break-box">
                            <!--지우지 마세요-->
                            <div></div>
                        </div>


                        <!--내 아이디어 목록 리스트-->
                        <div class="user-card-feed-wrapper">
                            <div class="user-card-feed">
                                <div class="user-card-feed-content row" style="padding-top: 0px; padding-bottom: 0px; transform: translateY(0px);">
                                    <!--아래의 div가 구현해준 아이디어 갯수만큼 반복됨-->
                                    <div class="user-card-feed-item-wrap user-card-feed-content-col">
                                        <div class="user-card-feed-item">
                                            <article class="card-collection-item">
                                                <div class="card-collection-item-content">
                                                    <a href="" class="card-collection-item-content-link"></a>
                                                    <div class="card-item-description card-collection-item-description">
                                                        <div class="card-item-description-content">아이디어 제목</div>
                                                    </div>
                                                    <div class="card-collection-item-image">
                                                        <div class="card-item-image">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/163032748151865412.jpeg?gif=1&w=640&h=640&c=c&q=80&webp=1" class="image">
                                                            <span class="card-item-image-collection-icon">
                                                                <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                            </span>
                                                            <span class="card-item-image-view-count">
                                                                조회수
                                                                9,283
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="user-card-feed-item-wrap user-card-feed-content-col">
                                        <div class="user-card-feed-item">
                                            <article class="card-collection-item">
                                                <div class="card-collection-item-content">
                                                    <a href="" class="card-collection-item-content-link"></a>
                                                    <div class="card-item-description card-collection-item-description">
                                                        <div class="card-item-description-content">아이디어 제목</div>
                                                    </div>
                                                    <div class="card-collection-item-image">
                                                        <div class="card-item-image">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/163032748151865412.jpeg?gif=1&w=640&h=640&c=c&q=80&webp=1" class="image">
                                                            <span class="card-item-image-collection-icon">
                                                                <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                            </span>
                                                            <span class="card-item-image-view-count">
                                                                조회수
                                                                9,283
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="user-card-feed-item-wrap user-card-feed-content-col">
                                        <div class="user-card-feed-item">
                                            <article class="card-collection-item">
                                                <div class="card-collection-item-content">
                                                    <a href="" class="card-collection-item-content-link"></a>
                                                    <div class="card-item-description card-collection-item-description">
                                                        <div class="card-item-description-content">아이디어 제목</div>
                                                    </div>
                                                    <div class="card-collection-item-image">
                                                        <div class="card-item-image">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/163032748151865412.jpeg?gif=1&w=640&h=640&c=c&q=80&webp=1" class="image">
                                                            <span class="card-item-image-collection-icon">
                                                                <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                            </span>
                                                            <span class="card-item-image-view-count">
                                                                조회수
                                                                9,283
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="user-card-feed-item-wrap user-card-feed-content-col">
                                        <div class="user-card-feed-item">
                                            <article class="card-collection-item">
                                                <div class="card-collection-item-content">
                                                    <a href="" class="card-collection-item-content-link"></a>
                                                    <div class="card-item-description card-collection-item-description">
                                                        <div class="card-item-description-content">아이디어 제목</div>
                                                    </div>
                                                    <div class="card-collection-item-image">
                                                        <div class="card-item-image">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/163032748151865412.jpeg?gif=1&w=640&h=640&c=c&q=80&webp=1" class="image">
                                                            <span class="card-item-image-collection-icon">
                                                                <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                            </span>
                                                            <span class="card-item-image-view-count">
                                                                조회수
                                                                9,283
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="user-card-feed-item-wrap user-card-feed-content-col">
                                        <div class="user-card-feed-item">
                                            <article class="card-collection-item">
                                                <div class="card-collection-item-content">
                                                    <a href="" class="card-collection-item-content-link"></a>
                                                    <div class="card-item-description card-collection-item-description">
                                                        <div class="card-item-description-content">아이디어 제목</div>
                                                    </div>
                                                    <div class="card-collection-item-image">
                                                        <div class="card-item-image">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/163032748151865412.jpeg?gif=1&w=640&h=640&c=c&q=80&webp=1" class="image">
                                                            <span class="card-item-image-collection-icon">
                                                                <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                            </span>
                                                            <span class="card-item-image-view-count">
                                                                조회수
                                                                9,283
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="user-card-feed-item-wrap user-card-feed-content-col">
                                        <div class="user-card-feed-item">
                                            <article class="card-collection-item">
                                                <div class="card-collection-item-content">
                                                    <a href="" class="card-collection-item-content-link"></a>
                                                    <div class="card-item-description card-collection-item-description">
                                                        <div class="card-item-description-content">아이디어 제목</div>
                                                    </div>
                                                    <div class="card-collection-item-image">
                                                        <div class="card-item-image">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/163032748151865412.jpeg?gif=1&w=640&h=640&c=c&q=80&webp=1" class="image">
                                                            <span class="card-item-image-collection-icon">
                                                                <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                            </span>
                                                            <span class="card-item-image-view-count">
                                                                조회수
                                                                9,283
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                    <div class="user-card-feed-item-wrap user-card-feed-content-col">
                                        <div class="user-card-feed-item">
                                            <article class="card-collection-item">
                                                <div class="card-collection-item-content">
                                                    <a href="" class="card-collection-item-content-link"></a>
                                                    <div class="card-item-description card-collection-item-description">
                                                        <div class="card-item-description-content">아이디어 제목</div>
                                                    </div>
                                                    <div class="card-collection-item-image">
                                                        <div class="card-item-image">
                                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/163032748151865412.jpeg?gif=1&w=640&h=640&c=c&q=80&webp=1" class="image">
                                                            <span class="card-item-image-collection-icon">
                                                                <svg class="icon" width="18" height="18" viewBox="0 0 18 18" preserveAspectRatio="xMidYMid meet"><g fill="none" fill-rule="evenodd"><path stroke="#000" stroke-opacity=".14" stroke-width=".75" d="M14.27 3.85H15a2.62 2.62 0 0 1 2.62 2.63V15A2.62 2.62 0 0 1 15 17.63H6.49A2.62 2.62 0 0 1 3.85 15v-.73h7.8a2.63 2.63 0 0 0 2.62-2.62v-7.8zM.37 3A2.62 2.62 0 0 1 3 .37h8.52A2.62 2.62 0 0 1 14.15 3v8.52a2.62 2.62 0 0 1-2.63 2.63H3a2.62 2.62 0 0 1-2.63-2.63V3z"></path><path fill="#FFF" fill-opacity=".74" d="M14.64 4.22H15c1.25 0 2.26 1 2.26 2.26V15c0 1.24-1 2.25-2.25 2.25H6.48c-1.25 0-2.26-1-2.26-2.25v-.35h7.43a3 3 0 0 0 3-3V4.22zM.75 3C.75 1.76 1.75.75 3 .75h8.52c1.25 0 2.26 1 2.26 2.25v8.52c0 1.25-1 2.26-2.26 2.26H3c-1.24 0-2.25-1-2.25-2.26V3z"></path></g></svg>
                                                            </span>
                                                            <span class="card-item-image-view-count">
                                                                조회수
                                                                9,283
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <footer th:replace="~{/fix/footer :: #main-footer}"></footer>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>


</html>