<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마이페이지 메인</title>
    <link rel="stylesheet" href="/css/mypage/mypage.css" />
    <link rel="icon" href="/images/icon/favicon.png">
</head>
<body>
<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>
        <div class="menu-nav">
            <nav class="page-navigation">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation_item">
                        <a class="active" href="/users/5412458" target="_self">프로필</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="" href="/user_shopping_pages/order_list" target="_self">나의 쇼핑</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="" href="/production_reviews/write" target="_self">나의 리뷰</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="" href="/users/5412458/edit" target="_self">설정</a>
                    </li>
                </ul>
            </nav>
            <nav class="page-navigation menu-nav_contents">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation_item">
                        <a class="active low" href="/users/5412458" target="_self">모두보기</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="low" href="/users/5412458/card_collections" target="_self">내아이디어</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="low" href="/users/5412458/projects" target="_self">구현목록</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="low" href="/users/5412458/advices" target="_self">내게시글</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="low" href="/users/5412458/questions" target="_self">스크랩북</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="low" href="/users/5412458/praises" target="_self">좋아요</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--마이페이지-->
        <div class="mypage-body">
            <div class="mypage-body1">
                <div class="mypage-left">
                    <div class="sticky-container1" style="position: sticky; top: 81px; transition: top 0.1s ease 0s;">
                        <div class="sticky-child" style="position: relative;">
                            <div class="">
                                <div class="mypage-card">
                                    <div class="mypage-profile">
                                        <div class="mypage-profile-img">
                                            <img class="mypage-profile-img1" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1">
                                        </div>
                                        <div class="mypage-profile-text">
                                            <div class="mypage-profile-id">홍김동</div>
                                            <div class="mypage-profile-text">
                                                <div class="">
                                                    <a class="lay3 lay2 lay1 mypage-profile-button" href="/users/5412458/edit">설정</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scrap-button">
                                        <div class="scrap-button1">
                                            <a class="scrap-button2" href="/users/5412458/collections">
                                                <div class="scrap-icon">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" preserveAspectRatio="xMidYMid meet">
                                                        <path fill-rule="evenodd" transform="matrix(1 0 0 -1 0 23.033)" d="M12.943 6.342a2 2 0 0 1-1.886 0L3 2.032V20.5a.5.5 0 0 0 .5.5h17a.5.5 0 0 0 .5-.5V2.033l-8.057 4.309zm-.471-.882l8.056-4.31A1 1 0 0 1 22 2.034V20.5a1.5 1.5 0 0 1-1.5 1.5h-17A1.5 1.5 0 0 1 2 20.5V2.033a1 1 0 0 1 1.472-.882l8.056 4.31a1 1 0 0 0 .944 0z"></path>
                                                    </svg>
                                                </div>
                                                <div class="scrap-text">스크랩북</div>
                                                <div class="scrap-num">71</div>
                                            </a>
                                            <a class="scrap-button2" href="/users/5412458/praises">
                                                <div class="scrap-icon">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                                        <path fill="currentColor" d="M22.971 7.638c-.548-5.17-7.119-7.135-10.57-2.488a.5.5 0 0 1-.802 0C8.148.503 1.577 2.469 1.029 7.625.642 12.451 3.897 17.183 12 21.436c8.104-4.252 11.36-8.984 10.972-13.798zm.996-.093c.428 5.319-3.137 10.446-11.738 14.899a.5.5 0 0 1-.46 0C3.169 17.99-.395 12.864.034 7.532.656 1.67 7.904-.683 12 4.052 16.096-.683 23.344 1.67 23.967 7.545z"></path>
                                                    </svg>
                                                </div>
                                                <div class="scrap-text">좋아요</div>
                                                <div class="scrap-num">0</div>
                                            </a><a class="scrap-button2" href="/user_shopping_pages/coupons">
                                            <div class="scrap-icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                                    <path fill="#424242" fill-rule="nonzero" d="M22.588 3H1.413C.633 3 0 3.638 0 4.426L0 9.53l.605-.088c.12-.017.243-.026.367-.026 1.413 0 2.558 1.157 2.558 2.584S2.385 14.584.972 14.584c-.124 0-.247-.009-.367-.026L0 14.47l.001 5.104C.001 20.362.633 21 1.413 21h21.175c.78 0 1.412-.638 1.412-1.426V4.426C24 3.638 23.368 3 22.588 3zM1.413 4.07h21.175c.195 0 .353.159.353.356v15.148c0 .197-.158.357-.353.357H1.413l-.071-.008c-.161-.033-.282-.176-.282-.349l-.002-3.923-.086.002c1.997 0 3.617-1.635 3.617-3.653l-.004-.182C4.493 9.945 3.006 8.443 1.152 8.35l-.094-.003.002-3.922c0-.197.158-.357.353-.357zm14.646 2.138c.293 0 .53.237.53.53v1.614c0 .292-.237.53-.53.53-.292 0-.53-.238-.53-.53V6.737c0-.292.238-.53.53-.53zm0 4.455c.293 0 .53.237.53.53v1.614c0 .293-.237.53-.53.53-.292 0-.53-.237-.53-.53v-1.614c0-.293.238-.53.53-.53zm0 4.456c.293 0 .53.237.53.53v1.614c0 .292-.237.53-.53.53-.292 0-.53-.238-.53-.53v-1.615c0-.292.238-.53.53-.53z"></path>
                                                </svg>
                                            </div>
                                            <div class="scrap-text">내 쿠폰</div>
                                            <div class="scrap-num">0</div>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-padding">
                    <div class="side-padding1"></div>
                </div>
                <div class="mypage-main">
                    <div class="mypage-main-bady">
                        <div>
                            <section class="mypage-main-bady1">
                                <div class="mypage-main-text">
                                    <h1 class="mypage-main-text1">
                                        사진
                                        <span class="mypage-main-num">0</span>
                                    </h1>
                                </div>
                                <a class="mypage-main-part" href="/contents/card_collections/new">
                                    <svg width="16" height="16" viewBox="0 0 16 16" preserveAspectRatio="xMidYMid meet" class="mypage-main-part1">
                                        <path fill="currentColor" d="M9 2v5h5v2H9v5H7V9H2V7h5V2h2z"></path>
                                    </svg>
                                    첫 번째 사진을 올려보세요
                                </a>
                            </section>
                            <section class="mypage-main-bady1">
                                <div class="mypage-main-text">
                                    <h1 class="mypage-main-text1">집들이
                                        <span class="mypage-main-num">0</span>
                                    </h1>
                                </div>
                                <a class="mypage-main-part" href="/projects/write">
                                    <svg width="16" height="16" viewBox="0 0 16 16" preserveAspectRatio="xMidYMid meet" class="mypage-main-part1 e1s15hxd0">
                                        <path fill="currentColor" d="M9 2v5h5v2H9v5H7V9H2V7h5V2h2z"></path>
                                    </svg>
                                    첫 번째 집들이를 올려보세요
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/fix/header.js"></script>

</html>