<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="../../static/images/icon/favicon.png">
    <link rel="stylesheet" href="../../static/css/mypage/news.css">

</head>
<body>
<div class="full-height">
    <div class="layout">
        <div id="headers"></div>

        <div class="news-container">
            <h1 class="news-title">내 소식</h1>
            <div style="padding-top: 0px; padding-bottom: 0px; transform: translateY(0px);">
                <!--아래의 div가 알림 갯수만큼 반복-->
                <div>
                    <div class="news-content">
                        <a href="" class="favicon-wrapper">
                            <img src="../../static/images/icon/favicon.png" class="favicon">
                        </a>
                        <a href="" class="news-content-link">
                            <div class="news-content-link-text-wrapper">
                                <span class="news-content-link-text">일상에서 발견하는 당신의 멋진 아이디어를 iContact에 보여주세요. 프리미엄 아이디어 등록 시에는 메인 페이지에서 광고해드립니다.</span>
                                <span class="news-content-time">5일 전</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="news-content">
                        <a href="" class="favicon-wrapper">
                            <img src="../../static/images/icon/favicon.png" class="favicon">
                        </a>
                        <a href="" class="news-content-link">
                            <div class="news-content-link-text-wrapper">
                                <span class="news-content-link-text">일상에서 발견하는 당신의 멋진 아이디어를 iContact에 보여주세요. 프리미엄 아이디어 등록 시에는 메인 페이지에서 광고해드립니다.</span>
                                <span class="news-content-time">5일 전</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="news-content">
                        <a href="" class="favicon-wrapper">
                            <img src="../../static/images/icon/favicon.png" class="favicon">
                        </a>
                        <a href="" class="news-content-link">
                            <div class="news-content-link-text-wrapper">
                                <span class="news-content-link-text">일상에서 발견하는 당신의 멋진 아이디어를 iContact에 보여주세요. 프리미엄 아이디어 등록 시에는 메인 페이지에서 광고해드립니다.</span>
                                <span class="news-content-time">5일 전</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="news-content">
                        <a href="" class="favicon-wrapper">
                            <img src="../../static/images/icon/favicon.png" class="favicon">
                        </a>
                        <a href="" class="news-content-link">
                            <div class="news-content-link-text-wrapper">
                                <span class="news-content-link-text">일상에서 발견하는 당신의 멋진 아이디어를 iContact에 보여주세요. 프리미엄 아이디어 등록 시에는 메인 페이지에서 광고해드립니다.</span>
                                <span class="news-content-time">5일 전</span>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="news-content">
                        <a href="" class="favicon-wrapper">
                            <img src="../../static/images/icon/favicon.png" class="favicon">
                        </a>
                        <a href="" class="news-content-link">
                            <div class="news-content-link-text-wrapper">
                                <span class="news-content-link-text">일상에서 발견하는 당신의 멋진 아이디어를 iContact에 보여주세요. 프리미엄 아이디어 등록 시에는 메인 페이지에서 광고해드립니다.</span>
                                <span class="news-content-time">5일 전</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="footers"></div>
    </div>
</div>

</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../../static/js/fix/header.js"></script>


</html>

