<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>프로필 수정하기</title>
    <link rel="stylesheet" href="/css/mypage/profile-modify.css" />
    <link rel="icon" href="/images/icon/favicon.png">
</head>
<body>
<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>
        <div class="edit-user-info_wrap container">
            <div class="menu-nav">
                <nav></nav>
                <nav></nav>
            </div>
            <div class="edit-user-info_header">
                <div class="edit-user-info_header-title">회원정보수정</div>
                <a class="edit-user-info_header_withdrawals" href="/withdrawals/new">탈퇴하기</a>
            </div>
            <form>
                <div class="edit-user-info_form-item">
                    <div class="edit-user-info_form-item_title">
                        이메일
                        <div class="edit-user-info_form-item_title_require"> * 필수항목</div>
                    </div>
                    <div class="expert-form-group edit-user-info_form-item_group">
                        <div class="expert-form-group_content">
                            <div class="expert-form-group_input">
                                <div class="edit-user-info_form-item_field">
                                    <div class="input-group email-input">
                                        <span class="email-input_local">
                                            <label>
                                                <input class="form-control" placeholder="이메일" size="1" value="">
                                                <span class="form-control-blind">이메일 앞 주소 입력하기</span>
                                            </label>
                                        </span>
                                        <span class="email-input_separator">@</span>
                                        <span class="email-input_domain">
                                            <label>
                                                <select class="form-control">
                                                    <option value="" disabled="">선택해주세요</option>
                                                    <option value="naver.com">naver.com</option>
                                                    <option value="hanmail.net">hanmail.net</option>
                                                    <option value="daum.net">daum.net</option>
                                                    <option value="gmail.com">gmail.com</option>
                                                    <option value="nate.com">nate.com</option>
                                                    <option value="hotmail.com">hotmail.com</option>
                                                    <option value="outlook.com">outlook.com</option>
                                                    <option value="icloud.com">icloud.com</option>
                                                    <option value="_manual">직접입력</option></select>
                                                <span class="form-control-blind">이메일 도메인 선택하기</span>
                                            </label>
                                        </span>
                                    </div>
                                    <div class="edit-user-info_form-item_field_warning">이메일을 변경하시려면 운영자에게 이메일을 보내주세요.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-user-info_form-item">
                    <div class="edit-user-info_form-item_title">별명
                        <div class="edit-user-info_form-item_title_require"> * 필수항목</div>
                    </div>
                    <div class="expert-form-group edit-user-info_form-item_group">
                        <div class="expert-form-group_content">
                            <div class="expert-form-group_input">
                                <div class="edit-user-info_form-item_field">
                                    <div class="edit-user-info_input">
                                        <input class="form-control" value="닉네임">
                                        <div class="edit-user-info_input_error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-user-info_form-item">
                    <div class="edit-user-info_form-item_title">홈페이지</div>
                    <div class="expert-form-group edit-user-info_form-item_group">
                        <div class="expert-form-group_content">
                            <div class="expert-form-group_input">
                                <div class="edit-user-info_form-item_field">
                                    <input placeholder="https://ohou.se" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-user-info_form-item">
                    <div class="edit-user-info_form-item_title">성별</div>
                    <div class="expert-form-group edit-user-info_form-item_group">
                        <div class="expert-form-group_content">
                            <div class="expert-form-group_input">
                                <div class="edit-user-info_form-item_field edit-user-info_form-item_field-sex">
                                    <ul class="radio-group-input">
                                        <li>
                                            <div class="form-radio">
                                                <label class="form-radio-label">
                                                    <input class="form-radio" type="radio">
                                                    <span class="radio-img"></span>
                                                    <span>남성</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-radio">
                                                <label class="form-radio-label">
                                                    <input class="form-radio" type="radio">
                                                    <span class="radio-img"></span>
                                                    <span>여성</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-user-info_form-item">
                    <div class="edit-user-info_form-item_title">생년월일</div>
                    <div class="expert-form-group edit-user-info_form-item_group">
                        <div class="expert-form-group_content">
                            <div class="expert-form-group_input">
                                <div class="edit-user-info_form-item_field">
                                    <div class="DayPickerInput">
                                        <input placeholder="YYYY-MM-DD" class="form-control date-input_text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-user-info_form-item">
                    <div class="edit-user-info_form-item_title">프로필 이미지</div>
                    <div class="expert-form-group edit-user-info_form-item_group">
                        <div class="expert-form-group_content">
                            <div class="expert-form-group_input">
                                <div class="edit-user-info_form-item_field edit-user-info_form-item_field-profile">
                                    <div class="image-single-input-wrap">
                                        <ul class="image-single-input">
                                            <li class="image-single-input_entry">
                                                <button class="image-single-input_entry_button" type="button">
                                                    <img class="image-single-input_entry_image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&amp;w=640&amp;h=640&amp;c=c&amp;webp=1">
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-user-info_form-item">
                    <div class="edit-user-info_form-item_title">한줄 소개</div>
                    <div class="expert-form-group edit-user-info_form-item_group">
                        <div class="expert-form-group_content">
                            <div class="expert-form-group_input">
                                <div class="edit-user-info_form-item_field">
                                    <input maxlength="41" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button button-color button-size-50 button-shape-4 edit-user-info_submit" type="submit">회원 정보 수정</button>
            </form>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/fix/header.js"></script>

</html>