/* email-auth.html */
@charset "utf-8";

* {
    font-family: 'Pretendard Variable';
}

div {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    /*==*/
    cursor: pointer;
    touch-action: manipulation;
}

.layout, .page, body, html {
    height: 100%;
}


@media(min-width: 768px) {
    body,html {
        font-size:15px
    }
}








.email-auth-full-container {
    width: 100%;
    height: calc(100% - 120px);
    margin: 40px auto 0px;
    padding: 0px 16px;
    box-sizing: border-box;
}





@media (min-width: 768px) {
    .email-auth-full-container {
        width: 375px;
    }
}


.email-auth-real-container {
    position: relative;
    height: 100%;
}



.email-write-info {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 20px;
}


.email-write-con {
    border: 1px solid rgb(219, 219, 219);
    padding: 6px 16px;
    margin: 12px 0px 28px;
}

.email-write-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-write-input {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    /*=----=*/
    padding: 0px;
    box-shadow: none;
    border: none;
    font-size: 15px;
}

.email-write-button:disabled {
    cursor: default;
    /*====*/
    background-color: #a3e4f8;
    border-color: #a3e4f8;
    color: #e5f9ff;
}


.email-write-button {
    white-space: pre;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    box-sizing: border-box;
}





.email-getcertification-button:disabled {
    cursor: default;
    background-color: #c7effb;
    border-color: #c7effb;
    color: #fff;
}


.email-getcertification-button {
    width: 100%;
    height: 50px;
}




.email-dowm-info-box {
    width: 100%;
    height: 72px;
    line-height: 20px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: rgb(247, 248, 250);
}


.email-dowm-info-call {
    color: rgb(53, 197, 240);
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}








































