* {
    font-family: 'Pretendard Variable';
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.button {
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    touch-action: manipulation;
}

.layout {
    display: flex;
    flex-direction: column;
}

fieldset, img {
    border: 0;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


/*menu-nav*/
.menu-nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.page-navigation {
    border-bottom: 1px solid #ededed;
    width: 100%;
    overflow: hidden;
    font-size: 18px;
}

.page-navigation>ul {
    text-align: center;
    white-space: nowrap;
}

.page-navigation_item:not(:first-child) {
    margin-left: 15px;
}

.menu-nav .page-navigation_item:not(:first-child) {
    margin-left: 30px;
}

.page-navigation_item {
    display: inline-block;
    user-select: none;
}

.page-navigation_item>a {
    display: block;
    padding: 0 10px;
    font-weight: 700;
    position: relative;
    height: 60px;
    line-height: 60px;
    transition: color .15s ease;
}

.page-navigation_item>a.active, .page-navigation_item>a:not(.active):hover {
    color: mediumpurple;
}

.menu-nav .page-navigation_item>a.active:after, .menu-nav .page-navigation_item>a.active:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent;
    margin-left: -5px;
    border-width: 0 5px 10px;
    z-index: 1;
}

.menu-nav .page-navigation_item>a.active:before {
    margin-top: -10px;
    border-color: transparent transparent #dbdbdb;
}

.menu-nav .page-navigation_item>a.active:after {
    margin-top: -8px;
    border-color: transparent transparent #fff;
}

.menu-nav .page-navigation_item>a.active:after, .menu-nav .page-navigation_item>a.active:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    background-color: transparent;
    margin-left: -5px;
    border-width: 0 5px 10px;
    z-index: 1;
}
/*메뉴바 하단*/

.page-navigation_item>a.active:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #eacaff;
    left: 0;
    bottom: 0;
}

.low {
    font-size: 15px;
}

/** 메인화면 */
.update-password_wrap {
    width: 400px;
    padding: 40px;
    color: #292929;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    margin: 50px auto;
}

.update-password_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.update-password_section {
    line-height: 1.5;
}

.update-password_section_title {
    font-weight: 700;
    margin-bottom: 5px;
}

.expert-form-group {
    padding: 20px 0;
}

.update-password .expert-form-group_input .form-control {
    text-align: left;
}

.expert-form-group_input .form-control {
    font-size: 15px;
    border-radius: 6px;
    text-align: center;
}

.form-control {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    font-size: 12px;
}

.sumit-button {
    width: 100%;
    padding: 11px 10px;
    font-size: 17px;
    line-height: 26px;
    background-color: #eacaff;
    border: #eacaff;
    color: #fff;
}