/* join.html */
@charset "utf-8";

* {
    font-family: 'Pretendard Variable';
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

input:focus { outline: none; }


[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    touch-action: manipulation;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol, ul {
    list-style: none;
}

option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.logo {
    padding-top: 40px;
    width: calc(100% - 30px);
    margin: auto;
}

.joinBody {
    width: 100%;
    margin: 0px auto;
    padding: 60px 0px;
    width: 360px;
}

.join-title {
    font-size: 20px;
    font-weight: bold;
}

.sns-nav {
    margin: 30px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.sns-join-title {
    font-size: 12px;
    text-align: center;
    margin: 15px 0px;
    color: rgb(117, 117, 117);
}

.sns-list {
    display: flex;
    justify-content: center;
}

.sns-button {
    margin: 0px 10px;
}

.text-title {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    word-break: keep-all;
}

.email-input2, .email-input1 {
    position: relative;
    flex: 1 1 0px;
}

.form-control {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    font-size: 12px;
}

.email-input2 .form-control, .email-input1 .form-control {
    width: 100%;
}

.email-form {
    display: flex;
}

.email-form .form-control {
    font-size: 15px;
}

.email-input2 .form-control-blind, .email-input1 .form-control-blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.email-input3 {
    flex: 0 0 20px;
    text-align: center;
    line-height: 40px;
    color: #dbdbdb;
}

.email-input2 .form-control :disabled, .email-input1 .form-control :disabled {
    color: #757575;
    opacity: 1;
}

.email-input2 .form-control option, .email-input1 .form-control option {
    color: #424242;
}

.email-input2_expand {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: none;
    border: none;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
}

.email-check-button {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    padding: 0px;
    background: rgb(247, 248, 250);
    color: rgb(194, 200, 204);
    border-color: rgb(218, 220, 224);
}

.email-check {
    margin-bottom: 30px;
    padding-top: 2px;
}

.email-lay {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}

.lay2 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}

.password {
    margin-bottom: 30px;
}

.password-label {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    word-break: keep-all;
}

.password2 {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(130, 140, 148);
    letter-spacing: -0.3px;
}

.lay3 {
    padding: 8px 15px 9px;
}

.lay4 {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

.password-text {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.password-checker {
    margin-bottom: 30px;
}

.password-text2 {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    word-break: keep-all;
}

.password-checker2 {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.doble {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(130, 140, 148);
    letter-spacing: -0.3px;
}

.nickname {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.conditions {
    padding: 18px;
    border: 1px solid rgb(234, 237, 239);
}

.conditions-list1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.conditions-list2 {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    flex: 1 1 0%;
}

.conditions-text {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(218, 221, 224);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
    flex-shrink: 0;
}

.conditions-text2 {
    position: absolute;
    overflow: hidden;
    top: 3.6px;
    left: 3px;
    width: 0px;
    height: 12px;
    transition: width 0.2s ease 0.1s;
}

.conditions-check {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: top;
    color: rgb(255, 255, 255);
}

.conditions-check::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.check-box {
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: pointer;
}

.check-box-text {
    flex: 1 1 0%;
    font-size: 16px;
    line-height: 20px;
    margin-left: 6px;
    color: rgb(47, 52, 56);
}

.check-box-text2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.check-box-text2 {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(130, 140, 148);
}

.conditions-line {
    padding: 0px;
    height: 1px;
    border: none;
    background-color: rgb(234, 237, 239);
    margin: 18px 0px;
}

.check-box-text4 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.check-box-text4::after {
    content: "(필수)";
    display: inline-block;
    padding-left: 2px;
    font-size: 12px;
    line-height: 20px;
    color: #eacaff;
}

.right-button {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.agree {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.lay6 {
    user-select: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}

.join-button {
    width: 100%;
}

.lay7 {
    background-color: #eacaff;
    border-color: #eacaff;
    color: #fff;
}

.lay8 {
    padding: 11px 10px;
}