/* password-auth.html */
@charset "utf-8";



@media (min-width: 768px){
    body, html {
        font-size: 15px;
    }
}


div {
    margin: 0;
    padding: 0;
}







.page {
    height: 100%;
}


.password-auth-full-container {
    width: 100%;
    height: calc(100% - 120px);
    margin: 40px auto 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .password-auth-full-container {
        width: 375px;
    }
}


.password-auth-real-container {
    position: relative;
    height: 100%;
}




.password-auth-box {
    min-height: 143px;
    box-sizing: border-box;
    padding: 20px 0px;
}


.password-gotcertificate-info {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 12px;
}

.password-gotcertificate-con {
    border: 1px solid rgb(219, 219, 219);
    min-height: 45px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}


.password-gotcertificate-area {
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: space-between;
}



.password-gotcertificate-input {
    border: none;
    font-size: 15px;
    line-height: 15px;
    flex: 1 0 0px;
    width: 0px;
}





.password-gotcertificate-time {
    color: rgb(255, 119, 119);
    margin-right: 20px;
}

/*.password-gotcertificate-button:disabled {

    cursor: default;
    background-color: #a3e4f8;
    border-color: #a3e4f8;
    color: #e5f9ff;
}*/

.password-gotcertificate-button {
    white-space: pre;
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    box-sizing: border-box;
}




.password-getagain-box {
    margin-top: 10px;
}

.password-getagain-line {
    font-size: 12px;
    color: rgb(130, 140, 148);
    display: flex;
    align-items: center;
}


.password-getagain-line-i {
    margin-right: 4px;
}

.password-getagain-line-a {
    cursor: pointer;
    touch-action: manipulation;
    /*========*/
    text-decoration: underline;
    font-weight: 500;
    margin-left: 4px;
}




.password-get-button {
    width: 100%;
    height: 50px;
}


/*
.password-get-button:disabled {
    cursor: default;
    background-color: #c7effb;
    border-color: #c7effb;
    color: #fff;
}
*/





.password-dowm-info-box {
    width: 100%;
    height: 72px;
    line-height: 20px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: #f7f8fa;
}


.password-dowm-info-box-a {
    text-decoration: none;
    cursor: pointer;
    touch-action: manipulation;
    color: #35c5f0;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}










.lay {
    border-radius: 4px;
}

.button-lay-a {
    background-color: rgb(234, 202, 255);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;
    border-color: transparent;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}


.button-color-a {
    background-color: rgb(234, 202, 255);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;
    border-color: transparent;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}




.box-border {
    border-radius: 4px;
}




.input-box{
    outline: none;
}