<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/user/change-password.css">
    <link rel="icon" href="/images/icon/favicon.png">
    <style>
        /*돋보기 아이콘을 위한 폰트*/
        @font-face{
            font-family:OhouseIcon;
            src:url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2");
        }


        @font-face {
            font-family: 'Pretendard Variable';
            src: url('/font/PretendardVariable.woff2');
        }
    </style>
</head>
<body style="background: rgb(247, 248, 250);">
<div class="full-height">
    <div class="background-layout">
        <div class="item-layout">
            <a href="" class="logo-wrapper">
                <img src="/images/icon/logo.png" width="150px" height="50px">
            </a>

            <div class="psw-form-wrapper">
                <form th:action="@{/user/change-password}" class="psw-form" name="join" method="post">
                    <input type="hidden" th:value="${userEmail}" name="userEmail">
                    <input type="password" class="password" id="confirmPassword" name="userPassword" style="margin-bottom: 6px;" placeholder="새 비밀번호">
                    <input type="password" class="password" name="userPasswordConfirm" placeholder="새 비밀번호 확인">
                    <button type="button" class="psw-submit-btn">비밀번호 변경하기</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function() {
        const form = $('.psw-form');

        $('.psw-submit-btn').on('click', function() {
            const userEmail = form.find('input[name="userEmail"]').val();
            const userPassword = form.find('input[name="userPassword"]').val();
            const userPasswordConfirm = form.find('input[name="userPasswordConfirm"]').val();

            // 비밀번호 유효성 검사
            if (!userPassword || userPassword.trim() === '') {
                alert("비밀번호를 입력해주세요.");
                return;
            }

            // 비밀번호 확인 유효성 검사
            if (!userPasswordConfirm || userPasswordConfirm.trim() === '') {
                alert("비밀번호 확인칸을 입력해주세요.");
                return;
            }

            if (userPassword !== userPasswordConfirm) {
                alert("비밀번호를 동일하게 입력해주세요.");
                return;
            }

            $("input[name='userPassword']").val(btoa($("input[name='userPassword']").val()));
            form.submit();
        });
    });

</script>


</html>