<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 찾기</title>

    <link rel="stylesheet" href="/css/member/find-password.css">
    <link rel="icon" href="/images/icon/favicon.png">

</head>
<body>
<div class="full-height">
    <div class="layout">
        <div id="headers"></div>

        <div class="menu-nav">
            <nav class="page-navigation">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation_item">
                        <a class="" href="" target="_self">프로필</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="" href="" target="_self">나의 쇼핑</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="" href="" target="_self">나의 리뷰</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="active" href="" target="_self">설정</a>
                    </li>
                </ul>
            </nav>
            <nav class="page-navigation menu-nav_contents">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation_item">
                        <a class="low" href="" target="_self">회원정보수정</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="low" href="" target="_self">알림 설정</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="low" href="" target="_self">사용자 숨기기 설정</a>
                    </li>
                    <li class="page-navigation_item">
                        <a class="active low" href="" target="_self">비밀번호 변경</a>
                    </li>
                </ul>
            </nav>
            <!--메인 화면-->
            <div class="update-password_wrap">
                <h1 class="update-password_title">비밀번호 변경</h1>
                <form>
                        <div class="update-password_section">
                            <div class="update-password_section_title">새 비밀번호</div>
                            <div class="update-password_section_sub-title">영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.</div>
                            <div class="expert-form-group">
                                <div class="">
                                        <input type="password" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="update-password_section">
                            <div class="update-password__section__title">새 비밀번호</div>
                            <div class="expert-form-group">
                                <div class="expert-form-group__content">
                                    <div class="expert-form-group__input">
                                        <input type="password" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button class="sumit-button" type="submit">비밀번호 변경</button></form></div>
        </div>
        <div id="footers"></div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/fix/header.js"></script>

</html>