<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 찾기</title>

    <link rel="stylesheet" href="/css/user/find-password.css">
    <link rel="stylesheet" href="/css/community/listMine.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="icon" href="/images/icon/favicon.png">

</head>
<body>
<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>

        <div class="menu-nav">
            <div class="myhome-nav" style="margin-top: 50px">
                <nav class="page-navigation myhome-nav-owner">
                    <ul>
                        <li class="page-navigation-item">
                            <a href="/mypage/mypage">아이디어</a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="/mypage/profile-modify" class="active">설정</a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="/mypage/business-registration">사업자 등록</a>
                        </li>
                    </ul>
                </nav>
                <nav class="page-navigation">
                    <ul>
                        <li class="page-navigation-item">
                            <a href="/mypage/mypage">프로필 수정</a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="/mypage/mying" class="active">비밀번호 재설정</a>
                        </li>
                        <!--<li class="page-navigation-item">
                            <a href="/mypage/ict">구현 목록</a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">내 게시글 </a>
                        </li>
                        <li class="page-navigation-item">
                            <a href="">스크랩북 </a>
                        </li>-->
                    </ul>
                </nav>
            </div>
            <!--메인 화면-->
            <div class="update-password_wrap">
                <h1 class="update-password_title">비밀번호 변경</h1>
                <form>
                        <div class="update-password_section">
                            <div class="update-password_section_title">새 비밀번호</div>
                            <div class="update-password_section_sub-title">영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.</div>
                            <div class="expert-form-group">
                                <div class="">
                                        <input type="password" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="update-password_section">
                            <div class="update-password__section__title">새 비밀번호</div>
                            <div class="expert-form-group">
                                <div class="expert-form-group__content">
                                    <div class="expert-form-group__input">
                                        <input type="password" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button class="sumit-button" type="submit">비밀번호 변경</button></form></div>
        </div>
        <footer th:replace="~{/fix/footer :: #main-footer}"></footer>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</html>