<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="../../static/css/user/password-auth.css">
    <link rel="icon" href="/images/icon/favicon.png">

    <style>
        /*돋보기 아이콘을 위한 폰트*/
        @font-face{
            font-family:OhouseIcon;
            src:url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2");
        }


        @font-face {
            font-family: 'Pretendard Variable';
            src: url('/font/PretendardVariable.woff2');
        }
    </style>

</head>
<body>
    <div class="page">
        <div class="password-auth-full-container">
            <div class="password-auth-real-container">
                <div class="password-auth-box">
                    <div class="password-gotcertificate-info">이메일로 전송된 인증코드를 입력해주세요.</div>
                    <div class="password-gotcertificate-con">
                        <div class="password-gotcertificate-area">
                            <input type="text" placeholder="인증코드 6자리 입력" class="password-gotcertificate-input" value="">
                            <span class="password-gotcertificate-time">01:41</span>
                            <button class="password-gotcertificate-button" type="button" disabled="">확인</button>
                        </div>
                    </div>
                    <div class="password-getagain-box">
                        <div class="password-getagain-line">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" preserveAspectRatio="xMidYMid meet" class="password-getagain-line-i">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 7C0.25 10.7279 3.27208 13.75 7 13.75C10.7279 13.75 13.75 10.7279 13.75 7C13.75 3.27208 10.7279 0.25 7 0.25C3.27208 0.25 0.25 3.27208 0.25 7ZM13 7C13 10.3137 10.3137 13 7 13C3.68629 13 1 10.3137 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7ZM7.125 3.75C7.47018 3.75 7.75 4.02982 7.75 4.375C7.75 4.72018 7.47018 5 7.125 5C6.77982 5 6.5 4.72018 6.5 4.375C6.5 4.02982 6.77982 3.75 7.125 3.75ZM6.65 10.5H7.58333V5.83333H6.65V10.5Z" fill="#828C94"></path>
                            </svg>
                            이메일을 받지 못하셨나요?
                            <a class="password-getagain-line-a">이메일 재전송하기</a>
                        </div>
                    </div>
                </div>
                <!--    비밀번호 재설정 버튼     -->
                <button class="password-get-button">비밀번호 재설정하기</button>
                <!--    아래 짜잘이  -->
                <div class="password-dowm-info-box">
                    회원가입 시 입력한 정보가 기억나지 않는다면?
                    <a href="tel:1670-0876" class="password-dowm-info-box-a">고객센터 문의하기(1670-0876)</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>