<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>icontact</title>
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/main/banner.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="icon" href="/images/icon/favicon.png">
</head>
<body>

<div class="main-body">
<div class="full-height">
    <div class="layout">
        <header th:replace="~{/fix/header :: header}"></header>
    <!--배너-->
        <!--<div class="">
            <div role="region" aria-roledescription="carousel" class="banner">
                <div class="">
                    <ul aria-live="off" class="banner-lists" style="transform: translateX(0%);">
                        <li role="group" aria-roledescription="slide" aria-label="1 of 5" class="banner-list">
                            <a href="">
                                <div class="banner-list1">
                                    <div class="banner-list2">
                                        <div class="banner-img">
                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/169166535945328832.png?w=1920" srcset="" class="">
                                        </div>
                                        <div class="banner-img2"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="group" aria-roledescription="slide" aria-label="2 of 5" class="banner-list">
                            <a href="">
                                <div class="banner-list1">
                                    <div class="banner-list2">
                                        <div class="banner-img">
                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/169140218969098735.png?w=1920" srcset="" class="">
                                        </div>
                                        <div class="banner-img2"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="group" aria-roledescription="slide" aria-label="3 of 5" class="banner-list">
                            <a href="">
                                <div class="banner-list1">
                                    <div class="banner-list2">
                                        <div class="banner-img">
                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/169114135666227178.png?w=1920" srcset="" class="">
                                        </div>
                                        <div class="banner-img2"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="group" aria-roledescription="slide" aria-label="4 of 5" class="banner-list">
                            <a href="">
                                <div class="banner-list1">
                                    <div class="banner-list2">
                                        <div class="banner-img">
                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/169113841985190494.png?w=1920" srcset="" class="">
                                        </div>
                                        <div class="banner-img2"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li role="group" aria-roledescription="slide" aria-label="5 of 5" class="banner-list">
                            <a href="">
                                <div class="banner-list1">
                                    <div class="banner-list2">
                                        <div class="banner-img">
                                            <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/169079450553528602.png?w=1920" srcset="" class="">
                                        </div>
                                    <div class="banner-img2"></div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
               &lt;!&ndash; <div class="">
                    <div class=" ">
                        <span class=" ">
                            <span></span>
                            <span class=" ">/</span>
                            <span>15</span>
                        </span>
                    </div>
                </div>&ndash;&gt;
            </div>
        </div>-->
        <div class="slider-container">
            <div id="slider">
                <!-- 배너 이미지 -->
                <div class="img-wrap">
                    <img src="/images/banner/3.png">
                </div>
                <div class="img-wrap">
                    <img src="/images/banner/1.png">
                </div>
                <div class="img-wrap">
                    <img src="/images/banner/2.png">
                </div>
                <div class="img-wrap">
                    <img src="/images/banner/3.png">
                </div>
                <div class="img-wrap">
                    <img src="/images/banner/1.png">
                </div>
            </div>
            <button type="button" class="slide-button-wrapper" style="left: 15%" onclick="prevImage()">
                <span class="slide-button prev"></span>
            </button>
            <button type="button" class="slide-button-wrapper" style="left: 85%" onclick="nextImage()">
                <span class="slide-button next"></span>
            </button>
        </div>
    </div>
<!--카테고리-->
    <div class="category">
        <div class="category-list">
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/air-freshener.svg" class="category-list1">
                    <span class="category-icon">패션</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/bed.svg" class="category-list1">
                    <span class="category-icon">리빙홈</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/pencil-ruler.svg" srcset="" class="category-list1">
                    <span class="category-icon">문구</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/hand-holding-seeding.svg" srcset="" class="category-list1">
                    <span class="category-icon">제로웨이스트</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/mug-tea.svg" srcset="" class="category-list1">
                    <span class="category-icon">음료・주류</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/pie.svg" srcset="" class="category-list1">
                    <span class="category-icon">디저트</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/noodles.svg" srcset="" class="category-list1">
                    <span class="category-icon">요리</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/paw.svg" srcset="" class="category-list1">
                    <span class="category-icon">반려용품</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/baby-carriage.svg" srcset="" class="category-list1">
                    <span class="category-icon">유아용품</span>
                </a>
            </div>
            <div class="category-part">
                <a>
                    <img src="/images/main-icon/circle-ellipsis.svg" srcset="" class="category-list1">
                    <span class="category-icon">기타</span>
                </a>
            </div>
        </div>
    </div>

    <div th:replace="/fix/main :: main"></div>

    <!--커뮤니티-->
    <div class="product-list" style="margin-top: 50px;">
        <div class="product-list-title">
            <div class="product-list1">
                <div class="product-list-title2">
                    <strong class="product-list-text">유저들의 커뮤니티 구경하기 😊</strong>
                </div>
            </div>
            <div class="more-view">
                <button type="button" class="more-view1">더보기</button>
            </div>
        </div>
        <div>
            <div class="product-nav1">
                <!--아래의 div가 게시글 수만큼 반복-->
                <div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/expert_reviews/168649136443965580.jpg?w=480&amp;h=321&amp;c=c" class="product-img1">
                        <div class="product-img22">
                            <div class="product-img3"></div>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <div>
                            <p class="product-exp" style="font-size: 20px" th:text="${communityList[0].communityTitle}"></p>
                            <div style="display:flex; justify-content: space-between; margin-top: 10px">
                                <p class="product-exp" th:text="${communityList[0].userNickname}"></p>
                                <p class="product-exp" style="color: mediumpurple" th:text="${communityList[0].sortName}"></p>
                            </div>
                        </div>
                        <p class="product-exp2" style="margin-top: 5px" th:text="${communityList[0].communityContent}"></p>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/expert_reviews/168649136443965580.jpg?w=480&amp;h=321&amp;c=c" class="product-img1">
                        <div class="product-img22">
                            <div class="product-img3"></div>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <div>
                            <p class="product-exp" style="font-size: 20px" th:text="${communityList[1].communityTitle}"></p>
                            <div style="display:flex; justify-content: space-between; margin-top: 10px">
                                <p class="product-exp" th:text="${communityList[1].userNickname}"></p>
                                <p class="product-exp" style="color: mediumpurple" th:text="${communityList[1].sortName}"></p>
                            </div>
                        </div>
                        <p class="product-exp2" style="margin-top: 5px" th:text="${communityList[1].communityContent}"></p>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/expert_reviews/168649136443965580.jpg?w=480&amp;h=321&amp;c=c" class="product-img1">
                        <div class="product-img22">
                            <div class="product-img3"></div>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <div>
                            <p class="product-exp" style="font-size: 20px" th:text="${communityList[2].communityTitle}"></p>
                            <div style="display:flex; justify-content: space-between; margin-top: 10px">
                                <p class="product-exp" th:text="${communityList[2].userNickname}"></p>
                                <p class="product-exp" style="color: mediumpurple" th:text="${communityList[2].sortName}"></p>
                            </div>
                        </div>
                        <p class="product-exp2" style="margin-top: 5px" th:text="${communityList[2].communityContent}"></p>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>
            </div>
        </div>
    </div>
    <!--스크랩수 많은 아이디어 상위 3개-->
    <div class="product-list">
        <div class="product-list-title">
            <div class="product-list1">
                <div class="product-list2">
                    <strong class="product-list-text"> 놓치기 아쉬운 스크랩 BEST 😘 </strong>
                </div>
            </div>
            <div class="more-view">
                <button type="button" class="more-view1">더보기</button>
            </div>
        </div>
        <div>
            <div class="product-nav">
                <!--아래의 div가 아이디어 수만큼 반복-->
                <div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/projects/cover_images/167575583412558125.jpg?w=360&h=240&c=c" srcset="" class="product-img1">
                        <div class="product-img2">
                            <div class="product-img3"></div>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <div>
                            <p class="product-exp" style="font-size: 20px" th:text="${scrapTopIdeas[0].ideaTitle}"></p>
                            <div style="display:flex; justify-content: space-between; margin-top: 5px">
                                <p class="product-exp" th:text="${scrapTopIdeas[0].userNickname}"></p>
                                <p class="product-exp" style="color: mediumpurple" th:text="'스크랩 ' + ${scrapTopIdeas[0].scrapCount}"></p>
                            </div>
                            <p class="product-exp2" style="margin-top: 2px" th:text="${scrapTopIdeas[0].ideaIntro}"></p>
                        </div>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/projects/cover_images/167575583412558125.jpg?w=360&h=240&c=c" srcset="" class="product-img1">
                        <div class="product-img2">
                            <div class="product-img3"></div>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <div>
                            <p class="product-exp" style="font-size: 20px" th:text="${scrapTopIdeas[1].ideaTitle}"></p>
                            <div style="display:flex; justify-content: space-between; margin-top: 5px">
                                <p class="product-exp" th:text="${scrapTopIdeas[1].userNickname}"></p>
                                <p class="product-exp" style="color: mediumpurple" th:text="'스크랩 ' + ${scrapTopIdeas[1].scrapCount}"></p>
                            </div>
                            <p class="product-exp2" style="margin-top: 2px" th:text="${scrapTopIdeas[1].ideaIntro}"></p>
                        </div>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/projects/cover_images/167575583412558125.jpg?w=360&h=240&c=c" srcset="" class="product-img1">
                        <div class="product-img2">
                            <div class="product-img3"></div>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <div>
                            <p class="product-exp" style="font-size: 20px" th:text="${scrapTopIdeas[2].ideaTitle}"></p>
                            <div style="display:flex; justify-content: space-between; margin-top: 5px">
                                <p class="product-exp" th:text="${scrapTopIdeas[2].userNickname}"></p>
                                <p class="product-exp" style="color: mediumpurple" th:text="'스크랩 ' + ${scrapTopIdeas[2].scrapCount}"></p>
                            </div>
                            <p class="product-exp2" style="margin-top: 2px" th:text="${scrapTopIdeas[2].ideaIntro}"></p>
                        </div>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>
                <div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/projects/cover_images/167575583412558125.jpg?w=360&h=240&c=c" srcset="" class="product-img1">
                        <div class="product-img2">
                            <div class="product-img3"></div>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <div>
                            <p class="product-exp" style="font-size: 20px" th:text="${scrapTopIdeas[3].ideaTitle}"></p>
                            <div style="display:flex; justify-content: space-between; margin-top: 5px">
                                <p class="product-exp" th:text="${scrapTopIdeas[3].userNickname}"></p>
                                <p class="product-exp" style="color: mediumpurple" th:text="'스크랩 ' + ${scrapTopIdeas[3].scrapCount}"></p>
                            </div>
                            <p class="product-exp2" style="margin-top: 2px" th:text="${scrapTopIdeas[3].ideaIntro}"></p>
                        </div>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>

                <!--원래-->
                <!--<div class="products">
                    <div class="product-img">
                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/advices/168783663087562046.JPG?w=360&h=240&c=c" class="product-img1">
                        <div class="product-img2">
                            <div class="product-img3"></div>
                        </div>
                        <div class="scrap">
                            <button type="button" aria-label="scrap 토글 버튼" class="scrap-button">
                                <span class="scrap-button1">
                                    <svg class="scrap-button-svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20 2.75H4C3.44772 2.75 3 3.19771 3 3.75V20.8228C3 21.1988 3.39948 21.4403 3.73242 21.2655L11.5352 17.169C11.8262 17.0162 12.1738 17.0162 12.4648 17.169L20.2676 21.2655C20.6005 21.4403 21 21.1988 21 20.8228V3.75C21 3.19772 20.5523 2.75 20 2.75Z" fill="#35C5F0"></path>
                                    </svg>
                                    <svg class="scrap-button-svg-on" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_15409_67579)">
                                            <g filter="url(#filter0_d_15409_67579)">
                                                <path d="M4.3 4.05V19.4992L10.9309 16.018C11.6003 15.6666 12.3997 15.6666 13.0691 16.018L19.7 19.4992V4.05H4.3ZM4 2.75H20C20.5523 2.75 21 3.19772 21 3.75V20.8228C21 21.1988 20.6005 21.4403 20.2676 21.2655L12.4648 17.169C12.1738 17.0162 11.8262 17.0162 11.5352 17.169L3.73242 21.2655C3.39948 21.4403 3 21.1988 3 20.8228V3.75C3 3.19771 3.44772 2.75 4 2.75Z" fill="white"></path>
                                                <path d="M4.3 4.05V19.4992L10.9309 16.018C11.6003 15.6666 12.3997 15.6666 13.0691 16.018L19.7 19.4992V4.05H4.3Z" fill="white" fill-opacity="0.5"></path>
                                            </g>
                                        </g>
                                        <defs>
                                            <filter id="filter0_d_15409_67579" x="-2" y="-0.25" width="28" height="28.5735">
                                                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                                <feOffset dy="2"></feOffset>
                                                <feGaussianBlur stdDeviation="2.5"></feGaussianBlur>
                                                <feColorMatrix type="matrix" values="0 0 0 0 0.247059 0 0 0 0 0.278431 0 0 0 0 0.301961 0 0 0 0.15 0"></feColorMatrix>
                                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_15409_67579"></feBlend>
                                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_15409_67579" result="shape"></feBlend>
                                            </filter>
                                            <clipPath id="">
                                                <rect width="24" height="24" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="product-title margin10">
                        <p class="product-textarea">
                            <span class="product-textarea-head">색깔 조합 천재의</span>
                            컬러풀 리빙 잇템 10💛
                        </p>
                    </div>
                    <a class="product-ex" href=""></a>
                </div>-->
            </div>
        </div>
    </div>
    <footer th:replace="~{/fix/footer :: #main-footer}"></footer>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!--<script src="/js/main/main.js"></script>-->
<script src="/js/main/banner.js"></script>

<script>
    $(".product-exp2").each(function() {
        var content = $(this).text();
        if(content.length > 100) {
            $(this).text(content.substring(0, 100) + "...");
        }
    });
</script>

</html>
