/* ict.html */
@charset "utf-8";

* {
    font-family: 'Pretendard Variable';
}

a, p{
    font-style: normal;
}

.ict-content-wrapper{ /*.css-1x6h9tu*/
    width: 100%;
    max-width: 1256px;
    margin: 0px auto;
    box-sizing: border-box;
}

.ict-content-wrapper {
    padding: 0px 15px;
}

@media (min-width: 375px){
    .ict-content-wrapper {
        padding: 0px 15px;
    }
}

@media (min-width: 768px){
    .ict-content-wrapper{
        padding: 0px 40px;
    }
}

@media (min-width: 1024px){
    .ict-content-wrapper{
        padding: 0px 60px;
    }
}

@media (min-width: 1256px){
    .ict-content-wrapper{
        padding: 0px 60px;
    }
}

.ict-content-layout{ /*.css-1mux1hm*/
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0px -5px;
}


@media (min-width: 375px){
    .ict-content-layout {
        margin: 0px -5px;
    }
}

@media (min-width: 768px){
    .ict-content-layout {
        margin: 0px -7.5px;
    }
}


@media (min-width: 1024px){
    .ict-content-layout {
        margin: 0px -10px;
    }
}

@media (min-width: 1256px){
    .ict-content-layout {
        margin: 0px -10px;
    }
}


.profile-wrapper{ /*.css-i5en0t*/
    box-sizing: border-box;
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 375px){
    .profile-wrapper{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 768px){
    .profile-wrapper{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

@media (min-width: 1024px){
    .profile-wrapper{
        padding-left: 10px;
        padding-right: 10px;
        width: 25%;
    }
}

@media (min-width: 1256px){
    .profile-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
}


.profile-container{ /*.css-itjaqv*/
    position: relative;
    padding: 0px;
}

@media (min-width: 768px) {
    .profile-container {
        padding: 30px 25px 18px;
        border-radius: 4px;
        border: 1px solid rgb(218, 220, 224);
        box-shadow: rgba(63, 71, 77, 0.06) 0px 2px 4px 0px;
    }
}

.profile-share-btn-wrapper{ /*.css-1xbefvf*/
    position: absolute;
    top: -14px;
    right: -6px;
    display: flex;
    align-items: flex-end;
    z-index: 1;
}

@media (min-width: 768px){
    .profile-share-btn-wrapper{
        top: 18px;
        right: 12px;
    }
}

.profile-share-btn{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    color: rgb(66, 66, 66);
    font-size: 24px;
}

.profile-content-wrapper{ /*.css-hdhsoq*/
    position: relative;
    min-height: 84px;
    box-sizing: border-box;
    padding-left: 104px;
    margin: 0px 0px 20px;
}

@media (min-width: 768px){
    .profile-content-wrapper{
        min-height: 120px;
        padding: 14px 0px 0px 140px;
    }
}

@media (min-width: 1024px){
    .profile-content-wrapper{
        padding: 0px;
    }
}

.profile-img-wrapper{ /*.css-1uebeg0*/
    position: absolute;
    top: 0px;
    left: 0px;
    width: 84px;
    height: 84px;
    margin: 0px 20px 0px 0px;
    border-radius: 100%;
    background-color: rgb(237, 237, 237);
    overflow: hidden;
}

@media (min-width: 768px){
    .profile-img-wrapper{
        width: 120px;
        height: 120px;
    }
}


@media (min-width: 1024px){
    .profile-img-wrapper{
        position: relative;
        margin: 0px auto 24px;
    }
}

.profile-img-wrapper:after{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 100%;
}

.profile-img{ /*.css-1cqverl*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.profile-content-detail-wrapper{ /*.css-oycm3d*/
    text-align: left;
}

@media (min-width: 1024px){
    .profile-content-detail-wrapper{
        text-align: center;
    }
}

.profile-user-nickname{ /*.css-n5l119*/
    margin: 0px 0px 3px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: rgb(41, 41, 41);
    overflow-wrap: break-word;
    word-break: break-all;
}

@media (min-width: 768px){
    .profile-user-nickname{
        margin: 0px 0px 10px;
        font-size: 26px;
    }
}

@media (min-width: 1024px){
    .profile-user-nickname{
        line-height: 1.15;
    }
}


.profile-content-detail{ /*.css-oycm3d*/
    text-align: left;
}

@media (min-width: 1024px){
    .profile-content-detail{
        text-align: center;
    }
}

.profile-content-detail-text{
    margin: 0px 0px 7px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(130, 140, 148);
}

.profile-content-detail-text> dt{
    display: inline-block;
    margin-right: 5px;
}

.profile-content-detail-text> dd{
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(82, 91, 97);
}

.profile-modify-link-wrapper{

}

.profile-modify-link{
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 6px;
    font-weight: normal;
    font-size: 12px;
    color: rgb(41, 41, 41);
}


@media (min-width: 768px){
    .profile-status-wrapper{ /*.css-1049nre*/
        border-top: 1px solid rgb(234, 235, 239);
        padding: 22px 12px 0px;
    }
}

@media (min-width: 1024px){
    .profile-status-wrapper{
        padding: 24px 0px 6px;
    }
}

.profile-status-layout{
    display: flex;
    color: rgb(41, 41, 41);
}


.profile-list-wrapper{ /*.css-1p9dybm*/
    flex: 1 0 0px;
    display: block;
    min-width: 0px;
    box-sizing: border-box;
    text-align: center;
    padding: 18px 16px 14px;
    transition: opacity 0.1s ease 0s;
}

@media (min-width: 768px){
    .profile-list-wrapper{
        padding: 0px 16px;
    }
}

@media (min-width: 1024px){
    .profile-list-wrapper{
        padding: 0px;
    }
}

.profile-list-icon-wrapper{ /*.css-zpotx6*/
    margin: 0px auto 4px;
}

.profile-list-icon-wrapper svg {
    width: 28px;
    height: 28px;
}

.profile-list-text{ /*.css-10ewlqi*/
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    color: rgb(66, 66, 66);
}

@media (min-width: 1024px){
    .profile-list-text{
        font-size: 13px;
    }
}

.profile-list-total{ /*.css-2rwq1u*/
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: rgb(66, 66, 66);
}

.break-box{ /*.css-1dm5gv7*/
    box-sizing: border-box;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 375px){
    .break-box{
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 768px){
    .break-box{
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

@media (min-width: 1024px){
    .break-box{
        padding-left: 10px;
        padding-right: 10px;
        width: 8.33333%;
    }
}

@media (min-width: 1256px){
    .break-box{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.break-box > div{ /*.css-vb69r7*/
    margin: 0px -10px 20px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

@media (min-width: 768px){
    .break-box > div{
        display: none;
    }
}

/*----------------------*/

.user-card-feed-wrapper{ /*.css-1ltj86z*/
    box-sizing: border-box;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 375px) {
    .user-card-feed-wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 768px) {
    .user-card-feed-wrapper {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

@media (min-width: 1024px) {
    .user-card-feed-wrapper {
        padding-left: 10px;
        padding-right: 10px;
        width: 66.66666666666666%;
    }
}

@media (min-width: 1256px) {
    .user-card-feed-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.user-card-feed{
    position: relative;
}

.user-card-feed-content{
    margin-top: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

@media(min-width: 375px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -5px;
        margin-left: -5px
    }
}

@media(min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -7.5px;
        margin-left: -7.5px
    }
}

@media(min-width: 1024px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px
    }
}

@media(min-width: 1256px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-right: -10px;
        margin-left: -10px
    }
}

.user-card-feed-item-wrap { /*col-12*/
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px
}

@media(min-width: 375px) {
    .user-card-feed-item-wrap {
        padding-right:5px;
        padding-left: 5px
    }
}

@media(min-width: 768px) {
    .user-card-feed-item-wrap {
        padding-right:7.5px;
        padding-left: 7.5px
    }
}

@media(min-width: 1024px) {
    .user-card-feed-item-wrap {
        padding-right:10px;
        padding-left: 10px
    }
}

@media(min-width: 1256px) {
    .user-card-feed-item-wrap {
        padding-right:10px;
        padding-left: 10px
    }
}

@media(min-width: 768px) {
    .user-card-feed-content-col { /*col-md-4*/
        position:relative;
        width: 100%;
        min-height: 1px;
        box-sizing: border-box;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        padding-right: 5px;
        padding-left: 5px
    }
}

@media(min-width: 768px)and (min-width:375px) {
    .user-card-feed-content-col {
        padding-right:5px;
        padding-left: 5px
    }
}

@media(min-width: 768px)and (min-width:768px) {
    .user-card-feed-content-col {
        padding-right:7.5px;
        padding-left: 7.5px
    }
}

@media(min-width: 768px)and (min-width:1024px) {
    .user-card-feed-content-col {
        padding-right:10px;
        padding-left: 10px
    }
}

@media(min-width: 768px)and (min-width:1256px) {
    .user-card-feed-content-col {
        padding-right: 10px;
        padding-left: 10px
    }
}

.card-collection-item{
    padding-bottom: 40px;
}

.card-item-writer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-height: 36px;
    padding: 0 0 0 48px;
}

.card-item-writer-content{
    flex: 0 0 auto;
    margin-top: -5px;
    font-size: 15px;
    line-height: 19px;
}

.card-item-writer-header{
    display: flex;
}

.card-item-writer-link{
    flex: 0 1 auto;
    transition: opacity .1s;
    display: inline-block;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-item-writer-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: #ededed;
}

.card-item-writer-name{
    color: #424242;
    font-weight: 500;
}

.card-item-writer-introduction{
    margin-top: 2px;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-collection-item-content{
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-collection-item-content-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.card-item-description{
    margin: 12px 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    transition: opacity .1s;
}

@media (min-width: 768px){
    .card-item-description{
        margin: 12px 0px;
    }
}


.card-item-description-content{
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

@media (min-width: 768px){
    .card-item-description-content{
        max-height: 66px;
    }
}

.card-collection-item-image{
    flex: 0 0 auto;
}

.card-item-image{
    position: relative;
    width: 100%;
    padding-bottom: 77.6%;
    background-color: #ededed;
    overflow: hidden;
}

@media (min-width: 768px){
    .card-item-image{
        padding-bottom: 100%;
        border-radius: 6px;
    }
}

.card-item-image .image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    transition: transform .2s;
}

.card-item-image-collection-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.card-item-image-collection-icon>.icon {
    width: 14px;
    height: 14px;
}

@media (min-width: 768px){
    .card-item-image-collection-icon>.icon {
        width: 18px;
        height: 18px;
    }
}

.card-item-image-view-count{
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,.5);
}

.card-item-action-list{
    flex: 0 0 auto;
    display: flex;
    margin-bottom: -12px;
}

.card-item-action-list-action-btn{
    flex: 1 0 0px;
    position: relative;
    display: block;
    margin: 5px 0px;
    padding: 13px 0 16px;
    background-color: #eacaff;
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: opacity .1s;
    z-index: 2;
}

.card-item-action-list-action-btn>.count {
    margin-left: 6px;
    font-size: 14px;
    color: #000000;
}

.finish{
    background-color: #eaebef;
}