<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>


<body>

<div th:fragment="header">
    <header id="logout-header" th:if="${session.id eq null}">
        <div style="height: 80.75px;">
            <div class="top-header" style="position: fixed; transition: top 0.1s ease 0s; z-index: 1102; top: 0px; width: 100%;">
                <div class="top-header-layout">
                    <div class="mobile-hamburger-wrapper">
                        <button type="button" class="mobile-hamburger-btn">
                            <span class="menu"></span>
                        </button>
                    </div>

                    <div class="logo-layout">
                        <a href="" class="logo-wrapper">
                            <img src="/images/icon/logo.png" class="logo">
                        </a>
                    </div>

                    <div class="top-header-items-wrapper">
                        <div class="top-header-items-layout">
                            <div class="search-bar-layout">
                                <div class="full-flex">
                                    <div class="search-bar-wrapper">
                                        <span class="magnifier"></span>
                                        <input type="text" class="search-bar">
                                    </div>
                                </div>
                            </div>

                            <div class="mobile-magnifier-wrapper">
                                <button type="button" class="mobile-magnifier-btn">
                                    <span class="mobile-magnifier"></span>
                                </button>
                            </div>

                            <div class="flex-center">
                                <div class="member-menu-wrapper">
                                    <a th:href="@{/user/login}" class="member-menu-link">로그인</a>
                                    <a th:href="@{/user/join}" class="member-menu-link">회원가입</a>
                                </div>

                                <span class="line-height-zero">
                                <button th:onclick="|location.href='@{/idea/write}'|" type="button" class="idea-register-btn">
                                    <span>아이디어 등록</span>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div stype="height: 51.75px;">
            <div class="layout-navigation" style="position: fixed; z-index: 1101; transition: top 0.1s ease 0s; width: 100%;">
                <div class="navbar-layout">
                    <div class="navbar-wrapper">
                        <nav class="navbar">
                            <!--아래의 span태그가 메뉴 개수만큼 반복-->
                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/icontact/}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>홈</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/idea/ideaBank}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>IDEA BANK</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/inquiry/inquiry}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>문의하기</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/community/listAll}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>커뮤니티</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/about/introduce}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>ABOUT US</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/about/qna}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>FAQ</p>
                                    </div>
                                </a>
                            </div>
                        </span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header >
    <header id="login-header" th:unless="${session.id eq null}">
        <div style="height: 80.75px;">
            <div class="top-header" style="position: fixed; transition: top 0.1s ease 0s; z-index: 1102; top: 0px; width: 100%;">
                <div class="top-header-layout">
                    <div class="mobile-hamburger-wrapper">
                        <button type="button" class="mobile-hamburger-btn">
                            <span class="menu"></span>
                        </button>
                    </div>

                    <div class="logo-layout">
                        <a href="" class="logo-wrapper">
                            <img src="/images/icon/logo.png" class="logo">
                        </a>
                    </div>

                    <div class="top-header-items-wrapper">
                        <div class="top-header-items-layout">
                            <div class="search-bar-layout">
                                <div class="full-flex">
                                    <div class="search-bar-wrapper">
                                        <span class="magnifier"></span>
                                        <input type="text" class="search-bar">
                                    </div>
                                </div>
                            </div>

                            <div class="mobile-magnifier-wrapper">
                                <button type="button" class="mobile-magnifier-btn">
                                    <span class="mobile-magnifier"></span>
                                </button>
                            </div>

                            <!--<div>
                                <a href="" class="link-btn-wrapper">
                                    <span class="link-btn scrap"></span>
                                </a>
                            </div>

                            <div>
                                <a href="" class="link-btn-wrapper">
                                    <span class="link-btn news"></span>
                                </a>
                            </div>-->

                            <div class="flex-center">
                                <div class="top-header-side-menu-layout">
                                <span class="line-height-zero">
                                    <button type="button" class="profile-img-btn" th:onclick="|location.href='@{/mypage/mypage}'|">
                                        <img src="/images/icon/null.png" class="profile-img">
                                    </button>
                                </span>
                                </div>

                                <div class="member-menu-wrapper">
                                    <a th:href="@{/user/logout}" class="member-menu-link">로그아웃</a>
                                </div>

                                <span class="line-height-zero">
                                <button th:onclick="|location.href='@{/idea/write}'|" type="button" class="idea-register-btn">
                                    <span>아이디어 등록</span>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div stype="height: 51.75px;">
            <div class="layout-navigation" style="position: fixed; z-index: 1101; transition: top 0.1s ease 0s; width: 100%;">
                <div class="navbar-layout">
                    <div class="navbar-wrapper">
                        <nav class="navbar">
                            <!--아래의 span태그가 메뉴 개수만큼 반복-->
                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/icontact/}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>홈</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/idea/ideaBank}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>IDEA BANK</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/inquiry/inquiry}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>문의하기</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/community/listAll}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>커뮤니티</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/about/introduce}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>ABOUT US</p>
                                    </div>
                                </a>
                            </div>
                        </span>

                            <span class="navbar-menu">
                            <div>
                                <a th:href="@{/about/qna}" class="active">
                                    <div class="navbar-menu-wrapper">
                                        <p>FAQ</p>
                                    </div>
                                </a>
                            </div>
                        </span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

</body>
</html>