<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!--헤더 시작-->
<div class="navigation-container" th:fragment="sub-header">
    <nav class="navigation">
        <a th:href="@{/icontact/}" class="navigation-logo">
            <img src="/images/icon/logo.png" class="logo">
        </a>
        <div class="navigation-menu">
            <a class="navigation-menu-item" th:href="@{/about/introduce}">사이트 소개</a>
            <a class="navigation-menu-item">공지사항</a>
            <a class="navigation-menu-item" href="">커뮤니티</a>
        </div>
    </nav>
</div>
<!--헤더 끝-->


</body>
</html>