* {
    font-family: 'Pretendard Variable';
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.layout>* {
    flex: 0 0 auto;
}

option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

option:disabled {
    color: -internal-light-dark(graytext, rgb(170, 170, 170));
}

body, html {
    line-height: 1;
    font-family: "Pretendard Variable", "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.body-born {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.inquire-header {
    margin: 40px 0;
}

.inquire-header-title {
    font-size: 24px;
    font-weight: 700;
}

.inquire-header-subtitle {
    color: #828c94;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 15px;
}

.inquire-header-subtitle a {
    color: #eacaff;
    font-weight: 700;
}

.inquire-body {
    margin: 40px 0;
}

.inquire-body2 {
    margin: 16px 0;
}

.lay1 {
    position: relative;
    display: inline-block;
    width: 100%;
}

.lay2 {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

.lay4 {
    padding: 8px 15px 9px;
}

.inquire-menu {
    height: 44px;
    padding: 10px 14px 11px;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    border: 1px solid #eaebef;
    border-radius: 4px;
    box-sizing: border-box;
}

.lay1 .lay3 {
    padding-right: 30px;
}

.inquire-menu-button {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    pointer-events: none;
    color: #bdbdbd;
}

.inquire-menu-exp {
    position: relative;
    display: block;
    margin-top: 10px;
    padding-left: 12px;
    font-size: 12px;
    color: #828c94;
}

.inquire-menu-exp:before {
    content: "･";
    position: absolute;
    top: 0;
    left: 2px;
}

.text-nav {
    height: 44px;
    padding: 10px 14px 11px;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    border: 1px solid #eaebef;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: auto!important;
    height: 160px!important;
    line-height: 1.4;
}

.text-count {
    display: block;
    margin-top: 7px;
    font-size: 12px;
    color: #828c94;
    text-align: right;
}

.file-area {
    display: flex;
    width: 343px;
}

.file-area2 {
    height: 44px;
    padding: 10px 14px 11px;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    border: 1px solid #eaebef;
    border-radius: 4px;
    box-sizing: border-box;
    flex: 1;
    display: inline-flex;
    align-items: center;
    min-width: 0;
    padding: 0 16px;
    vertical-align: middle;
}

.file-area2 span {
    overflow-x: hidden;
    min-width: 0;
    line-height: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-text {
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 44px;
    margin-left: 10px;
    color: #eacaff;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #eacaff;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-area {
    margin-top: 30px;
}

.button-commit {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: #eacaff;
    width: 343px;
}

.lay6 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}