<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/idea/detail.css">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/idea/ideaBank.css">

    <style>
        /*돋보기 아이콘을 위한 폰트*/
        @font-face{
            font-family:OhouseIcon;
            src:url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2");
        }

        @font-face {
            font-family: 'Pretendard Variable';
            src: url('/font/PretendardVariable.woff2');
        }
    </style>
</head>
<body>

    <div class="full-height">
        <div class="layout">
            <header th:replace="~{/fix/header :: header}"></header>

            <div class="production-selling">
                <!--상단 메인 소개-->
                <div class="production-selling-overview container">
                    <nav class="commerce-category-breadcrumb-wrap production-selling-overview-category">
                        <ol class="commerce-category-breadcrumb">
                            <li class="commerce-category-breadcrumb-entry">
                                <a href="" class="link">
                                    상위 카테고리
                                </a>
                                <svg class="icon" width="8" height="8" viewBox="0 0 8 8" fill="currentColor">
                                    <path d="M4.95 4L2.12 1.19l.7-.71 3.54 3.54-3.53 3.53-.7-.7z"></path>
                                </svg>
                            </li>
                            <li class="commerce-category-breadcrumb-entry">
                                <a href="" class="link">
                                    하위 카테고리
                                </a>
                            </li>
                        </ol>
                    </nav>

                    <div class="production-selling-overview-container row">
                        <div class="production-selling-overview-cover-image-wrap bar-col col-md col-lg">
                            <div class="relative">
                                <div class="relative production-selling-cover-image production-selling-overview-cover-image">

                                    <!--<div class="carousel-list-wrap production-selling-cover-image-carousel-wrap">
                                        <div class="carousel-list" style="transform: translateX(0%); transition: transform 0s ease 0s;">
                                            <div class="carousel-list-entry production-selling-cover-image-entry" style="width: 100%;">
                                                <img class="production-selling-cover-image-entry-image" th:src="">
                                            </div>
                                        </div>
                                    </div>-->

                                    <div class="carousel-list-wrap production-selling-cover-image-carousel-wrap">
                                        <div class="carousel-list" style="transform: translateX(0%); transition: transform 0s ease 0s;">
                                            <div class="carousel-list-entry production-selling-cover-image-entry" style="width: 100%;">
                                                <div th:each="file : ${idea.files}" th:if="${file.ideaFileType == 'REPRESENTATIVE'}">
                                                    <img th:src="'/idea-files/display?fileName=' + ${file.ideaFilePath} + '/' + ${file.ideaFileUuid} + '_' + ${file.ideaFileName}" class="production-selling-cover-image-entry-image" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<ul class="production-selling-cover-image-list">
                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn production-selling-cover-image-list-btn-selected">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>
                                    </ul>-->

                                    <ul class="production-selling-cover-image-list" th:if="${idea.files != null and !idea.files.isEmpty()}">
                                        <li class="production-selling-cover-image-list-item" th:each="file : ${idea.files}" th:if="${file.ideaFileType} == 'NON_REPRESENTATIVE'">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" th:src="@{'/idea-files/display?fileName=' + ${file.ideaFilePath} + '/t_' + ${file.ideaFileUuid} + '_' + ${file.ideaFileName}}" />
                                            </button>
                                        </li>
                                    </ul>


                                    <!--모바일 화면에서 나올 사진 순서 처리 아이콘-->
                                    <div class="production-selling-cover-image-paginator">
                                        <ul class="carousel-paginator">
                                            <li>
                                                <span class="carousel-paginator-page selected"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="production-selling-overview-content bar-col col-md col-lg-prime">
                            <div class="relative">
                                <h1 class="production-selling-header-title">
                                    <div class="relative">
                                        <span class="production-selling-header-title-name" th:text="${idea.ideaTitle}"></span>

                                        <div class="production-selling-header-action">
                                            <button type="button" class="production-selling-header-action-button production-selling-header-action-button-scrap">
                                                <svg class="icon-stroke" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="0.5" viewBox="0 0 24 24">
                                                    <path d="M11.53 18.54l-8.06 4.31A1 1 0 0 1 2 21.97V3.5A1.5 1.5 0 0 1 3.5 2h17A1.5 1.5 0 0 1 22 3.5v18.47a1 1 0 0 1-1.47.88l-8.06-4.31a1 1 0 0 0-.94 0z"></path>
                                                </svg>
                                                <span class="count" th:text="${idea.ideaScarpCount}"></span>
                                            </button>

                                            <button type="button" class="production-selling-header-action-button">
                                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                                    <path d="M9.64 14.646a4.5 4.5 0 1 1 0-5.292l4.54-2.476a4.5 4.5 0 1 1 .63.795l-4.675 2.55c.235.545.365 1.146.365 1.777s-.13 1.232-.365 1.777l4.675 2.55a4.5 4.5 0 1 1-.63.795l-4.54-2.476zM18 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM6 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM18 23a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </h1>

                                <div class="production-selling-header-info-wrap">

                                    <div class="production-selling-header-promotion">
                                        <div class="production-selling-header-promotion-title-wrap">
                                            <span>한 줄 설명</span>
                                        </div>

                                        <div class="production-selling-header-promotion-content-wrap">
                                            <p class="production-selling-header-promotion-entry" th:text="${idea.ideaIntro}"></p>
                                        </div>
                                    </div>

                                </div>

                                <div class="relative">
                                    <span class="production-selling-header-title-name">작성자 소개</span>
                                    <div>
                                        <div class="writer-profile-layout">



                                            <div class="production-selling-header-promotion">
                                                <div class="production-selling-header-promotion-title-wrap">
                                                    <span>아이디어 작성자</span>
                                                </div>

                                                <div class="production-selling-header-promotion-content-wrap">
                                                    <p class="production-selling-header-promotion-entry" th:text="${idea.userVO.userNickname}"></p>
                                                </div>
                                            </div>

                                            <div th:if="${idea.userVO.userIntro != null and idea.userVO.userIntro != ''}">
                                                <div class="production-selling-header-promotion">
                                                    <div class="production-selling-header-promotion-title-wrap">
                                                        <span>한 줄 소개</span>
                                                    </div>

                                                    <div class="production-selling-header-promotion-content-wrap">
                                                        <p class="production-selling-header-promotion-entry" th:text="${idea.userVO.userIntro}"></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="production-selling-header-promotion">
                                            <div class="production-selling-header-promotion-title-wrap">
                                                <span>관심분야</span>
                                            </div>

                                            <div class="production-selling-header-promotion-content-wrap">
                                                <p class="production-selling-header-promotion-entry">
                                                    <span class="interest-item" th:each="interest : ${idea.interests}" th:text="${interest}"></span>
                                                </p>
                                            </div>
                                        </div><div class="production-selling-header-promotion">
                                            <div class="production-selling-header-promotion-title-wrap">
                                                <span>전화번호</span>
                                            </div>

                                            <div class="production-selling-header-promotion-content-wrap">
                                                <p class="production-selling-header-promotion-entry">01*-****-****</p>
                                            </div>
                                        </div><div class="production-selling-header-promotion">
                                            <div class="production-selling-header-promotion-title-wrap">
                                                <span>이메일</span>
                                            </div>

                                            <div class="production-selling-header-promotion-content-wrap">
                                                <p class="production-selling-header-promotion-entry">협의하기를 눌러 소통을 시작해보세요!</p>
                                            </div>
                                        </div></div>
                                    </div>
                                </div>
                            </div>

                            <div class="production-selling-option-form production-selling-overview-option-form">
                                <p class="production-hoped-price-wrapper">
                                    <span class="production-hoped-price">희망가격</span>
                                    <span class="production-hoped-price">
                                            <span id="price" th:text="${idea.ideaPrice}">30,000</span>
                                            원
                                        </span>
                                </p>
                                <div class="production-selling-option-form-footer">
                                    <!--<button type="button" class="button button-color-purple-inverted button-size button-shape">프로필 보기</button>-->
                                    <button type="button" class="button button-color-purple button-size button-shape">협의하기</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!--로딩 시 나오는 요소-->
                <div class="production-selling-card-gallery-wrap container">

                </div>

                <!--sticky 메뉴바-->
                <div class="production-selling-navigation-wrap" style="position: sticky; top: 130px; transition: top 0.1s ease 0s;">
                    <div class="production-selling-navigation" style="position: relative;">
                        <nav class="production-selling-navigation-content">
                            <ol class="production-selling-navigation-list">
                                <li>
                                    <a href="" class="production-selling-navigation-item production-selling-navigation-item-active" data-target="idea-info">아이디어 정보</a>
                                </li>

                                <li>
                                    <a href="" class="production-selling-navigation-item" data-target="detail-description">상세 설명</a>
                                </li>

                                <li>
                                    <a href="" class="production-selling-navigation-item" data-target="detail-image">상세 이미지</a>
                                </li>

                                <li>
                                    <a href="" class="production-selling-navigation-item" data-target="other-ideas">
                                        회원의 다른 아이디어
                                        <span class="production-selling-navigation-item-count" th:text="${idea.totalIdeas} - 1"></span>
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <!--아이디어 정보, 상세설명, 상세 이미지, 회원의 다른 아이디어-->
                <div class="production-selling-detail-wrap container">
                    <div class="production-selling-detail row">
                        <div class="production-selling-detail-content bar-col-prime col-lg-layout">
                            <div class="production-selling-content">
                                <section class="production-selling-section">
                                    <header class="production-selling-section-header" id="idea-info">
                                        <h1 class="production-selling-section-title">아이디어 정보</h1>
                                    </header>
                                    <table class="production-selling-table">
                                        <tbody>
                                            <tr>
                                                <th>아이디어 등록 일자</th>
                                                <td th:text="${idea.ideaRegisterDate}"></td>
                                            </tr>
                                            <tr>
                                                <th>아이디어 수정 일자</th>
                                                <td th:text="${idea.ideaUpdateDate}"></td>
                                            </tr>
                                            <tr>
                                                <th>상위 카테고리</th>
                                                <td th:text="${idea.ideaCategoryNames.topCategoryName}"></td>
                                            </tr>
                                            <tr>
                                                <th>하위 카테고리</th>
                                                <td th:text="${idea.ideaCategoryNames.subCategoryName}"></td>
                                            </tr>
                                            <tr>
                                                <th>아이디어 분류</th>
                                                <td th:text="${idea.ideaType}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>

                                <section class="production-selling-section">
                                    <header class="production-selling-section-header" id="detail-description">
                                        <h1 class="production-selling-section-title">아이디어 상세 설명</h1>
                                    </header>
                                    <table class="production-selling-table">
                                        <tbody>
                                        <tr>
                                            <th>상세 설명</th>
                                            <td th:text="${idea.ideaDetail}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </section>

                                <section class="production-selling-section">
                                    <header class="production-selling-section-header production-selling-section-header-hidden" id="detail-image">
                                        <h1 class="production-selling-section-title">아이디어 상세 이미지</h1>
                                    </header>

                                    <div class="production-selling-description production-selling-description-notice">
                                        <div class="production-selling-description-expand-wrap">
                                            <button type="button" class="button button-color-purple expand-button-size expand-button-shape production-selling-description-expand">
                                                펼치기
                                                <svg class="icon" width="1em" height="1em" viewBox="0 0 16 16">
                                                    <path fill="currentColor" fill-rule="evenodd" d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"></path>
                                                </svg>
                                            </button>
                                        </div>

                                        <div class="production-selling-description-content">
                                            <div style="text-align: center;">
                                                <div th:each="file : ${idea.files}" th:if="${file.ideaFileType == 'NON_REPRESENTATIVE'}">
                                                    <img width="690px" th:src="'/idea-files/display?fileName=' + ${file.ideaFilePath} + '/' + ${file.ideaFileUuid} + '_' + ${file.ideaFileName}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="production-selling-section">
                                    <header class="production-selling-section-header" id="other-ideas">
                                        <h1 class="production-selling-section-title">
                                            회원의 다른 아이디어
                                            <span class="count" th:text="${idea.totalIdeas} - 1"></span>
                                        </h1>
                                    </header>

                                    <div class="scroller-wrap production-selling-production-list">
                                        <div class="relative">
                                            <div class="scroller-content-wrap">
                                                <div class="scroller-content" style="transform: translateX(0px);">
                                                    <ul class="production-selling-production-list-list">
                                                        <!--아래의 div가 반복됨-->

                                                        <div class="production-selling-production-list-item-wrap" th:each="otherIdea : ${idea.otherIdeas}" th:unless="${otherIdea.id == idea.id}">
                                                            <article class="production-item">
                                                                <a th:href="@{/idea/detail(id=${otherIdea.id})}" class="production-item-overlay"></a>
                                                                <div class="production-item-image" th:each="file : ${otherIdea.files}" th:if="${file.ideaFileType} == 'REPRESENTATIVE'">
                                                                    <img class="image" th:src="@{'/idea-files/display?fileName=' + ${file.ideaFilePath} + '/t_' + ${file.ideaFileUuid} + '_' + ${file.ideaFileName}}">
                                                                    <div class="production-item-image-dark-overlay"></div>
                                                                </div>
                                                                <div class="production-item-content">
                                                                    <h1 class="production-item-header">
                                                                        <span class="production-item-header-name" th:text="${otherIdea.ideaTitle}"></span>
                                                                    </h1>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">한 줄 소개</strong>
                                                                        <span th:text="${otherIdea.ideaIntro}"></span>
                                                                    </p>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">진행상황</strong>
                                                                        <span th:text="${otherIdea.ideaCount}">5</span>/<span th:text="${otherIdea.ideaMax}">8</span>
                                                                    </p>
                                                                    <span class="production-item-price">
                                                                        <span class="production-item-price-rate">희망가격</span>
                                                                        <span class="production-item-price-price" th:text="${otherIdea.ideaPrice}"></span>
                                                                    </span>
                                                                </div>
                                                            </article>
                                                        </div>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

                <!--반응형 협의하기 버튼-->
                <div class="production-selling-floating-wrap" style="position: sticky; bottom: 0px; transition: bottom 0.1s ease 0s;">
                    <div class="relative production-selling-floating">
                        <div class="production-selling-floating-content">
                            <button type="button" class="production-selling-floating-content-scrap">
                                <svg class="icon-stroke" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="0.5" viewBox="0 0 24 24">
                                    <path d="M11.53 18.54l-8.06 4.31A1 1 0 0 1 2 21.97V3.5A1.5 1.5 0 0 1 3.5 2h17A1.5 1.5 0 0 1 22 3.5v18.47a1 1 0 0 1-1.47.88l-8.06-4.31a1 1 0 0 0-.94 0z"></path>
                                </svg>
                                <span class="count">234</span>
                            </button>

                            <button type="button" class="production-selling-floating-content-button">협의하기</button>
                        </div>
                    </div>
                </div>

                <!--페이지 상단 이동 스크롤 버튼-->
                <button type="button" class="production-selling-top-button">
                    <span class="arrow-up">

                    </span>
                </button>
            </div>

            <footer th:replace="~{/fix/footer :: #main-footer}"></footer>

            <!--아이디어 정보, 상세 설명, 상세 이미지, 회원의 다른 아이디어 1-->
        </div>
    </div>



</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script th:inline="javascript">
    let idea = [[${idea}]];
    console.log(idea);
    console.log(idea.otherIdeas);
</script>

<script src="/js/idea/detail.js"></script>

</html>