<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/idea/detail.css">
    <link rel="stylesheet" href="/css/idea/ideaBank.css">

    <style>
        /*돋보기 아이콘을 위한 폰트*/
        @font-face{
            font-family:OhouseIcon;
            src:url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2");
        }

        @font-face {
            font-family: 'Pretendard Variable';
            src: url('/font/PretendardVariable.woff2');
        }
    </style>
</head>
<body>

    <div class="full-height">
        <div class="layout">
            <header th:replace="~{/fix/header :: header}"></header>

            <div class="production-selling">
                <!--상단 메인 소개-->
                <div class="production-selling-overview container">
                    <nav class="commerce-category-breadcrumb-wrap production-selling-overview-category">
                        <ol class="commerce-category-breadcrumb">
                            <li class="commerce-category-breadcrumb-entry">
                                <a href="" class="link">
                                    상위 카테고리
                                </a>
                                <svg class="icon" width="8" height="8" viewBox="0 0 8 8" fill="currentColor">
                                    <path d="M4.95 4L2.12 1.19l.7-.71 3.54 3.54-3.53 3.53-.7-.7z"></path>
                                </svg>
                            </li>
                            <li class="commerce-category-breadcrumb-entry">
                                <a href="" class="link">
                                    하위 카테고리
                                </a>
                            </li>
                        </ol>
                    </nav>

                    <div class="production-selling-overview-container row">
                        <div class="production-selling-overview-cover-image-wrap bar-col col-md col-lg">
                            <div class="relative">
                                <div class="relative production-selling-cover-image production-selling-overview-cover-image">

                                    <div class="carousel-list-wrap production-selling-cover-image-carousel-wrap">
                                        <div class="carousel-list" style="transform: translateX(0%); transition: transform 0s ease 0s;">
                                            <div class="carousel-list-entry production-selling-cover-image-entry" style="width: 100%;">
                                                <img class="production-selling-cover-image-entry-image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=640&amp;h=640&amp;c=c&amp;webp=1">
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="production-selling-cover-image-list">
                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn production-selling-cover-image-list-btn-selected">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>

                                        <li class="production-selling-cover-image-list-item">
                                            <button class="production-selling-cover-image-list-btn">
                                                <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1">
                                            </button>
                                        </li>
                                    </ul>

                                    <!--모바일 화면에서 나올 사진 순서 처리 아이콘-->
                                    <div class="production-selling-cover-image-paginator">
                                        <ul class="carousel-paginator">
                                            <li>
                                                <span class="carousel-paginator-page selected"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>

                                            <li>
                                                <span class="carousel-paginator-page"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="production-selling-overview-content bar-col col-md col-lg-prime">
                            <div class="relative">
                                <h1 class="production-selling-header-title">
                                    <div class="relative">
                                        <span class="production-selling-header-title-name">아이디어 제목</span>

                                        <div class="production-selling-header-action">
                                            <button type="button" class="production-selling-header-action-button production-selling-header-action-button-scrap">
                                                <svg class="icon-stroke" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="0.5" viewBox="0 0 24 24">
                                                    <path d="M11.53 18.54l-8.06 4.31A1 1 0 0 1 2 21.97V3.5A1.5 1.5 0 0 1 3.5 2h17A1.5 1.5 0 0 1 22 3.5v18.47a1 1 0 0 1-1.47.88l-8.06-4.31a1 1 0 0 0-.94 0z"></path>
                                                </svg>
                                                <span class="count">234</span>
                                            </button>

                                            <button type="button" class="production-selling-header-action-button">
                                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                                    <path d="M9.64 14.646a4.5 4.5 0 1 1 0-5.292l4.54-2.476a4.5 4.5 0 1 1 .63.795l-4.675 2.55c.235.545.365 1.146.365 1.777s-.13 1.232-.365 1.777l4.675 2.55a4.5 4.5 0 1 1-.63.795l-4.54-2.476zM18 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM6 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM18 23a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </h1>

                                <div class="production-selling-header-info-wrap">

                                    <div class="production-selling-header-promotion">
                                        <div class="production-selling-header-promotion-title-wrap">
                                            <span>한 줄 설명</span>
                                        </div>

                                        <div class="production-selling-header-promotion-content-wrap">
                                            <p class="production-selling-header-promotion-entry">
                                                사용자가 입력한 아이디어 한 줄 설명
                                            </p>
                                        </div>
                                    </div>

                                </div>

                                <div class="relative">
                                    <span class="production-selling-header-title-name">작성자 소개</span>
                                    <div>
                                        <div class="writer-profile-layout">



                                            <div class="production-selling-header-promotion">
                                                <div class="production-selling-header-promotion-title-wrap">
                                                    <span>아이디어 작성자</span>
                                                </div>

                                                <div class="production-selling-header-promotion-content-wrap">
                                                    <p class="production-selling-header-promotion-entry">사용자 닉네임</p>
                                                </div>
                                            </div><div class="production-selling-header-promotion">
                                            <div class="production-selling-header-promotion-title-wrap">
                                                <span>한 줄 소개</span>
                                            </div>

                                            <div class="production-selling-header-promotion-content-wrap">
                                                <p class="production-selling-header-promotion-entry">딸 키우며 상상을 키우는 000입니다</p>
                                            </div>
                                        </div><div class="production-selling-header-promotion">
                                            <div class="production-selling-header-promotion-title-wrap">
                                                <span>관심분야</span>
                                            </div>

                                            <div class="production-selling-header-promotion-content-wrap">
                                                <p class="production-selling-header-promotion-entry">가구, 요리</p>
                                            </div>
                                        </div><div class="production-selling-header-promotion">
                                            <div class="production-selling-header-promotion-title-wrap">
                                                <span>전화번호</span>
                                            </div>

                                            <div class="production-selling-header-promotion-content-wrap">
                                                <p class="production-selling-header-promotion-entry">01*-****-****</p>
                                            </div>
                                        </div><div class="production-selling-header-promotion">
                                            <div class="production-selling-header-promotion-title-wrap">
                                                <span>이메일</span>
                                            </div>

                                            <div class="production-selling-header-promotion-content-wrap">
                                                <p class="production-selling-header-promotion-entry">협의하기를 눌러 소통을 시작해보세요!</p>
                                            </div>
                                        </div></div>
                                    </div>
                                </div>
                            </div>

                            <div class="production-selling-option-form production-selling-overview-option-form">
                                <p class="production-hoped-price-wrapper">
                                    <span class="production-hoped-price">희망가격</span>
                                    <span class="production-hoped-price">
                                            <span>30,000</span>
                                            원
                                        </span>
                                </p>
                                <div class="production-selling-option-form-footer">
                                    <button type="button" class="button button-color-purple-inverted button-size button-shape">프로필 보기</button>
                                    <button type="button" class="button button-color-purple button-size button-shape">협의하기</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!--로딩 시 나오는 요소-->
                <div class="production-selling-card-gallery-wrap container">

                </div>

                <!--sticky 메뉴바-->
                <div class="production-selling-navigation-wrap" style="position: sticky; top: 0px; transition: top 0.1s ease 0s;">
                    <div class="production-selling-navigation" style="position: relative;">
                        <nav class="production-selling-navigation-content">
                            <ol class="production-selling-navigation-list">
                                <li>
                                    <a href="" class="production-selling-navigation-item production-selling-navigation-item-active">아이디어 정보</a>
                                </li>

                                <li>
                                    <a href="" class="production-selling-navigation-item">상세 설명</a>
                                </li>

                                <li>
                                    <a href="" class="production-selling-navigation-item">상세 이미지</a>
                                </li>

                                <li>
                                    <a href="" class="production-selling-navigation-item">
                                        회원의 다른 아이디어
                                        <span class="production-selling-navigation-item-count">24</span>
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <!--아이디어 정보, 상세설명, 상세 이미지, 회원의 다른 아이디어-->
                <div class="production-selling-detail-wrap container">
                    <div class="production-selling-detail row">
                        <div class="production-selling-detail-content bar-col-prime col-lg-layout">
                            <div class="production-selling-content">
                                <section class="production-selling-section">
                                    <header class="production-selling-section-header">
                                        <h1 class="production-selling-section-title">아이디어 정보</h1>
                                    </header>
                                    <table class="production-selling-table">
                                        <tbody>
                                            <tr>
                                                <th>아이디어 등록 일자</th>
                                                <td>2023년 8월 8일</td>
                                            </tr>
                                            <tr>
                                                <th>아이디어 수정 일자</th>
                                                <td>2023년 8월 10일</td>
                                            </tr>
                                            <tr>
                                                <th>상위 카테고리</th>
                                                <td>가구</td>
                                            </tr>
                                            <tr>
                                                <th>하위 카테고리</th>
                                                <td>디자인</td>
                                            </tr>
                                            <tr>
                                                <th>아이디어 분류</th>
                                                <td>프리미엄 아이디어</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>

                                <section class="production-selling-section">
                                    <header class="production-selling-section-header">
                                        <h1 class="production-selling-section-title">아이디어 정보</h1>
                                    </header>
                                    <table class="production-selling-table">
                                        <tbody>
                                        <tr>
                                            <th>상세 설명</th>
                                            <td>가구 디자인 아이디어는 현대적이고 기능적인 디자인을 강조합니다. 자연 소재와 현대적인 디자인을 조합하여 따뜻하면서도 세련된 분위기를 만들어냅니다. 모듈형 가구로 다양한 배치가 가능하며, 공간 활용에 우수한 스토리지 기능을 제공합니다. 깔끔하고 곡선적인 선들이 조화롭게 어우러져 사용자의 눈을 즐겁게 합니다. 중립적인 컬러 팔레트와 간결한 세부 디테일은 현대적인 삶의 트렌드를 반영하며, 기능과 아름다움을 동시에 만족시킵니다.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </section>

                                <section class="production-selling-section">
                                    <header class="production-selling-section-header production-selling-section-header-hidden">
                                        <h1 class="production-selling-section-title">아이디어 정보</h1>
                                    </header>

                                    <div class="production-selling-description production-selling-description-notice">
                                        <div class="production-selling-description-expand-wrap">
                                            <button type="button" class="button button-color-purple expand-button-size expand-button-shape production-selling-description-expand">
                                                펼치기
                                                <svg class="icon" width="1em" height="1em" viewBox="0 0 16 16">
                                                    <path fill="currentColor" fill-rule="evenodd" d="M2.87 4L1.33 5.5 8 12l6.67-6.5L13.13 4 8 9z"></path>
                                                </svg>
                                            </button>
                                        </div>

                                        <div class="production-selling-description-content">
                                            <div style="text-align: center;">
                                                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/descriptions/url/165691796889854696.jpg" width="1000" height="792">
                                                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/descriptions/url/165691797607151309.jpg" width="1000" height="1140">
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section class="production-selling-section">
                                    <header class="production-selling-section-header">
                                        <h1 class="production-selling-section-title">
                                            회원의 다른 아이디어
                                            <span class="count">24</span>
                                        </h1>
                                    </header>

                                    <div class="scroller-wrap production-selling-production-list">
                                        <div class="relative">
                                            <div class="scroller-content-wrap">
                                                <div class="scroller-content" style="transform: translateX(0px);">
                                                    <ul class="production-selling-production-list-list">
                                                        <div class="production-selling-production-list-item-wrap">
                                                            <article class="production-item">
                                                                <a href="" class="production-item-overlay"></a>
                                                                <div class="production-item-image">
                                                                    <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167947266202951167.jpg?gif=1&w=360&h=360&c=c&q=0.8&webp=1">
                                                                    <button type="button" class="production-item-scrap-badge">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inactive-icon">
                                                                            <defs>
                                                                                <path id="scrap-icon-1-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                                <filter id="scrap-icon-1-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                                </filter>
                                                                                <filter id="scrap-icon-1-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                                </filter>
                                                                            </defs>
                                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                                <use fill="#000" filter="url(#scrap-icon-1-a)" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#000" filter="url(#scrap-icon-1-c)" href="#scrap-icon-1-b"></use>
                                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                                            </g>
                                                                        </svg>
                                                                        <svg class="active-icon" width="24" height="24" viewBox="0 0 24 24">
                                                                            <path fill="#35C5F0" fill-rule="nonzero" d="M12.472 17.07a.999.999 0 0 0-.944 0l-7.056 3.811A.999.999 0 0 1 3 19.998V4.502C3 3.672 3.672 3 4.5 3h15c.828 0 1.5.673 1.5 1.502v15.496a1 1 0 0 1-1.472.883l-7.056-3.811z"></path>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="production-item-image-dark-overlay"></div>

                                                                </div>
                                                                <div class="production-item-content">
                                                                    <h1 class="production-item-header">
                                                                        <span class="production-item-header-name">아이디어 제목</span>
                                                                    </h1>
                                                                    <span class="production-item-price">
                                                                        <span class="production-item-price-rate">희망가격</span>
                                                                        <span class="production-item-price-price">63,000</span>
                                                                    </span>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">상위 카테고리</strong>
                                                                        가구
                                                                    </p>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">하위 카테고리</strong>
                                                                        디자인
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div>

                                                        <div class="production-selling-production-list-item-wrap">
                                                            <article class="production-item">
                                                                <a href="" class="production-item-overlay"></a>
                                                                <div class="production-item-image">
                                                                    <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167947266202951167.jpg?gif=1&w=360&h=360&c=c&q=0.8&webp=1">
                                                                    <button type="button" class="production-item-scrap-badge">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inactive-icon">
                                                                            <defs>
                                                                                <path id="scrap-icon-1-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                                <filter id="scrap-icon-1-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                                </filter>
                                                                                <filter id="scrap-icon-1-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                                </filter>
                                                                            </defs>
                                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                                <use fill="#000" filter="url(#scrap-icon-1-a)" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#000" filter="url(#scrap-icon-1-c)" href="#scrap-icon-1-b"></use>
                                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                                            </g>
                                                                        </svg>
                                                                        <svg class="active-icon" width="24" height="24" viewBox="0 0 24 24">
                                                                            <path fill="#35C5F0" fill-rule="nonzero" d="M12.472 17.07a.999.999 0 0 0-.944 0l-7.056 3.811A.999.999 0 0 1 3 19.998V4.502C3 3.672 3.672 3 4.5 3h15c.828 0 1.5.673 1.5 1.502v15.496a1 1 0 0 1-1.472.883l-7.056-3.811z"></path>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="production-item-image-dark-overlay"></div>

                                                                </div>
                                                                <div class="production-item-content">
                                                                    <h1 class="production-item-header">
                                                                        <span class="production-item-header-name">아이디어 제목</span>
                                                                    </h1>
                                                                    <span class="production-item-price">
                                                                        <span class="production-item-price-rate">희망가격</span>
                                                                        <span class="production-item-price-price">63,000</span>
                                                                    </span>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">상위 카테고리</strong>
                                                                        가구
                                                                    </p>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">하위 카테고리</strong>
                                                                        디자인
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div>

                                                        <div class="production-selling-production-list-item-wrap">
                                                            <article class="production-item">
                                                                <a href="" class="production-item-overlay"></a>
                                                                <div class="production-item-image">
                                                                    <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167947266202951167.jpg?gif=1&w=360&h=360&c=c&q=0.8&webp=1">
                                                                    <button type="button" class="production-item-scrap-badge">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inactive-icon">
                                                                            <defs>
                                                                                <path id="scrap-icon-1-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                                <filter id="scrap-icon-1-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                                </filter>
                                                                                <filter id="scrap-icon-1-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                                </filter>
                                                                            </defs>
                                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                                <use fill="#000" filter="url(#scrap-icon-1-a)" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#000" filter="url(#scrap-icon-1-c)" href="#scrap-icon-1-b"></use>
                                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                                            </g>
                                                                        </svg>
                                                                        <svg class="active-icon" width="24" height="24" viewBox="0 0 24 24">
                                                                            <path fill="#35C5F0" fill-rule="nonzero" d="M12.472 17.07a.999.999 0 0 0-.944 0l-7.056 3.811A.999.999 0 0 1 3 19.998V4.502C3 3.672 3.672 3 4.5 3h15c.828 0 1.5.673 1.5 1.502v15.496a1 1 0 0 1-1.472.883l-7.056-3.811z"></path>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="production-item-image-dark-overlay"></div>

                                                                </div>
                                                                <div class="production-item-content">
                                                                    <h1 class="production-item-header">
                                                                        <span class="production-item-header-name">아이디어 제목</span>
                                                                    </h1>
                                                                    <span class="production-item-price">
                                                                        <span class="production-item-price-rate">희망가격</span>
                                                                        <span class="production-item-price-price">63,000</span>
                                                                    </span>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">상위 카테고리</strong>
                                                                        가구
                                                                    </p>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">하위 카테고리</strong>
                                                                        디자인
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div>

                                                        <div class="production-selling-production-list-item-wrap">
                                                            <article class="production-item">
                                                                <a href="" class="production-item-overlay"></a>
                                                                <div class="production-item-image">
                                                                    <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167947266202951167.jpg?gif=1&w=360&h=360&c=c&q=0.8&webp=1">
                                                                    <button type="button" class="production-item-scrap-badge">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inactive-icon">
                                                                            <defs>
                                                                                <path id="scrap-icon-1-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                                <filter id="scrap-icon-1-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                                </filter>
                                                                                <filter id="scrap-icon-1-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                                </filter>
                                                                            </defs>
                                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                                <use fill="#000" filter="url(#scrap-icon-1-a)" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#000" filter="url(#scrap-icon-1-c)" href="#scrap-icon-1-b"></use>
                                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                                            </g>
                                                                        </svg>
                                                                        <svg class="active-icon" width="24" height="24" viewBox="0 0 24 24">
                                                                            <path fill="#35C5F0" fill-rule="nonzero" d="M12.472 17.07a.999.999 0 0 0-.944 0l-7.056 3.811A.999.999 0 0 1 3 19.998V4.502C3 3.672 3.672 3 4.5 3h15c.828 0 1.5.673 1.5 1.502v15.496a1 1 0 0 1-1.472.883l-7.056-3.811z"></path>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="production-item-image-dark-overlay"></div>

                                                                </div>
                                                                <div class="production-item-content">
                                                                    <h1 class="production-item-header">
                                                                        <span class="production-item-header-name">아이디어 제목</span>
                                                                    </h1>
                                                                    <span class="production-item-price">
                                                                        <span class="production-item-price-rate">희망가격</span>
                                                                        <span class="production-item-price-price">63,000</span>
                                                                    </span>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">상위 카테고리</strong>
                                                                        가구
                                                                    </p>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">하위 카테고리</strong>
                                                                        디자인
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div>

                                                        <div class="production-selling-production-list-item-wrap">
                                                            <article class="production-item">
                                                                <a href="" class="production-item-overlay"></a>
                                                                <div class="production-item-image">
                                                                    <img class="image" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167947266202951167.jpg?gif=1&w=360&h=360&c=c&q=0.8&webp=1">
                                                                    <button type="button" class="production-item-scrap-badge">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inactive-icon">
                                                                            <defs>
                                                                                <path id="scrap-icon-1-b" d="M12.472 6.93l7.056-3.811A1 1 0 0 1 21 4.002v15.496c0 .83-.672 1.502-1.5 1.502h-15c-.828 0-1.5-.673-1.5-1.502V4.002a1 1 0 0 1 1.472-.883l7.056 3.811a.999.999 0 0 0 .944 0z"></path>
                                                                                <filter id="scrap-icon-1-a" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feOffset in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                                                    <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="1.5"></feGaussianBlur>
                                                                                    <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                                                                                    <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.26 0"></feColorMatrix>
                                                                                </filter>
                                                                                <filter id="scrap-icon-1-c" width="150%" height="150%" x="-25%" y="-25%">
                                                                                    <feGaussianBlur in="SourceAlpha" result="shadowBlurInner1" stdDeviation="1.5"></feGaussianBlur><feOffset in="shadowBlurInner1" result="shadowOffsetInner1"></feOffset><feComposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"></feComposite>
                                                                                    <feColorMatrix in="shadowInnerInner1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
                                                                                </filter>
                                                                            </defs>
                                                                            <g fill="none" fill-rule="nonzero" transform="matrix(1 0 0 -1 0 24)">
                                                                                <use fill="#000" filter="url(#scrap-icon-1-a)" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#FFF" fill-opacity=".4" href="#scrap-icon-1-b"></use>
                                                                                <use fill="#000" filter="url(#scrap-icon-1-c)" href="#scrap-icon-1-b"></use>
                                                                                <path stroke="#FFF" d="M12.71 7.37h-.002a1.5 1.5 0 0 1-1.417 0L4.236 3.56a.499.499 0 0 0-.736.442v15.496c0 .553.448 1.002 1 1.002h15c.552 0 1-.449 1-1.002V4.002a.499.499 0 0 0-.734-.443l-7.057 3.81zm-.475-.88h-.001z"></path>
                                                                            </g>
                                                                        </svg>
                                                                        <svg class="active-icon" width="24" height="24" viewBox="0 0 24 24">
                                                                            <path fill="#35C5F0" fill-rule="nonzero" d="M12.472 17.07a.999.999 0 0 0-.944 0l-7.056 3.811A.999.999 0 0 1 3 19.998V4.502C3 3.672 3.672 3 4.5 3h15c.828 0 1.5.673 1.5 1.502v15.496a1 1 0 0 1-1.472.883l-7.056-3.811z"></path>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="production-item-image-dark-overlay"></div>

                                                                </div>
                                                                <div class="production-item-content">
                                                                    <h1 class="production-item-header">
                                                                        <span class="production-item-header-name">아이디어 제목</span>
                                                                    </h1>
                                                                    <span class="production-item-price">
                                                                        <span class="production-item-price-rate">희망가격</span>
                                                                        <span class="production-item-price-price">63,000</span>
                                                                    </span>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">상위 카테고리</strong>
                                                                        가구
                                                                    </p>
                                                                    <p class="production-item-stats">
                                                                        <strong class="category">하위 카테고리</strong>
                                                                        디자인
                                                                    </p>
                                                                </div>
                                                            </article>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

                <!--반응형 협의하기 버튼-->
                <div class="production-selling-floating-wrap" style="position: sticky; bottom: 0px; transition: bottom 0.1s ease 0s;">
                    <div class="relative production-selling-floating">
                        <div class="production-selling-floating-content">
                            <button type="button" class="production-selling-floating-content-scrap">
                                <svg class="icon-stroke" width="24" height="24" fill="currentColor" stroke="currentColor" stroke-width="0.5" viewBox="0 0 24 24">
                                    <path d="M11.53 18.54l-8.06 4.31A1 1 0 0 1 2 21.97V3.5A1.5 1.5 0 0 1 3.5 2h17A1.5 1.5 0 0 1 22 3.5v18.47a1 1 0 0 1-1.47.88l-8.06-4.31a1 1 0 0 0-.94 0z"></path>
                                </svg>
                                <span class="count">234</span>
                            </button>

                            <button type="button" class="production-selling-floating-content-button">협의하기</button>
                        </div>
                    </div>
                </div>

                <!--페이지 상단 이동 스크롤 버튼-->
                <button type="button" class="production-selling-top-button">
                    <span class="arrow-up">

                    </span>
                </button>
            </div>

            <div id="footers"></div>

            <!--아이디어 정보, 상세 설명, 상세 이미지, 회원의 다른 아이디어 1-->
        </div>
    </div>



</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/fix/header.js"></script>

</html>