<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/fix/header.css">
    <link rel="stylesheet" href="/css/fix/footer.css">
    <link rel="stylesheet" href="/css/idea/ideaBank.css">
    <link rel="stylesheet" href="/css/community/detail.css">
</head>

<body>
    <div class="full-height">
        <div class="layout">
            <header th:replace="~{/fix/header :: header}"></header>

            <div class="category-feed-container">
                <div class="category-feed-wrap container">
                    <div class="row">
                        <div class="category-feed-side-bar bar-col bar-layout" style="margin-top: 30px">
                            <section class="commerce-category-list">
                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">패션</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">여성의류</a> <!--하위 카테고리-->
                                            <input type="hidden" value="1">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">남성의류</a> <!--하위 카테고리-->
                                            <input type="hidden" value="2">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">언더웨어</a> <!--하위 카테고리-->
                                            <input type="hidden" value="3">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">액세서리</a> <!--하위 카테고리-->
                                            <input type="hidden" value="4">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">신발</a> <!--하위 카테고리-->
                                            <input type="hidden" value="5">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">가방</a> <!--하위 카테고리-->
                                            <input type="hidden" value="6">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">아동의류</a> <!--하위 카테고리-->
                                            <input type="hidden" value="7">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">스포츠·아웃도어</a> <!--하위 카테고리-->
                                            <input type="hidden" value="8">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">리빙홈</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">가구</a> <!--하위 카테고리-->
                                            <input type="hidden" value="9">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">조명</a> <!--하위 카테고리-->
                                            <input type="hidden" value="10">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">인테리어 소품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="11">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">침구</a> <!--하위 카테고리-->
                                            <input type="hidden" value="12">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">욕실용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="13">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">주방용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="14">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">문구</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">필기도구</a> <!--하위 카테고리-->
                                            <input type="hidden" value="15">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">노트</a> <!--하위 카테고리-->
                                            <input type="hidden" value="16">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">데스크용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="17">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">여행·가방용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="18">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">기프트·포장</a> <!--하위 카테고리-->
                                            <input type="hidden" value="19">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">제로웨이스트</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">재사용 가능 용기</a> <!--하위 카테고리-->
                                            <input type="hidden" value="20">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">패브릭</a> <!--하위 카테고리-->
                                            <input type="hidden" value="21">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">주방용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="22">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">화장품·뷰티</a> <!--하위 카테고리-->
                                            <input type="hidden" value="23">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">생활용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="24">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">음료·주류</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">차·커피</a> <!--하위 카테고리-->
                                            <input type="hidden" value="25">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">쥬스</a> <!--하위 카테고리-->
                                            <input type="hidden" value="26">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">칵테일</a> <!--하위 카테고리-->
                                            <input type="hidden" value="27">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">와인·맥주</a> <!--하위 카테고리-->
                                            <input type="hidden" value="28">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">전통주·알코올음료</a> <!--하위 카테고리-->
                                            <input type="hidden" value="29">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">디저트</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">케이크·빵</a> <!--하위 카테고리-->
                                            <input type="hidden" value="30">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">초콜릿·사탕</a> <!--하위 카테고리-->
                                            <input type="hidden" value="31">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">아이스크림</a> <!--하위 카테고리-->
                                            <input type="hidden" value="32">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">푸딩·젤리</a> <!--하위 카테고리-->
                                            <input type="hidden" value="33">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">전통 디저트</a> <!--하위 카테고리-->
                                            <input type="hidden" value="34">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">요리</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">한식</a> <!--하위 카테고리-->
                                            <input type="hidden" value="35">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">중식</a> <!--하위 카테고리-->
                                            <input type="hidden" value="36">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">일식</a> <!--하위 카테고리-->
                                            <input type="hidden" value="37">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">양식</a> <!--하위 카테고리-->
                                            <input type="hidden" value="38">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">그 외 세계요리</a> <!--하위 카테고리-->
                                            <input type="hidden" value="39">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">특색 요리</a> <!--하위 카테고리-->
                                            <input type="hidden" value="40">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">반려용품</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">개용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="41">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">고양이용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="42">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">소동물용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="43">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">어류용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="44">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">훈련·게임용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="45">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">유아용품</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">유아복</a> <!--하위 카테고리-->
                                            <input type="hidden" value="46">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">장난감·교육용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="47">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">유아식품·간식</a> <!--하위 카테고리-->
                                            <input type="hidden" value="48">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">위생용품</a> <!--하위 카테고리-->
                                            <input type="hidden" value="49">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">유아가구·침구</a> <!--하위 카테고리-->
                                            <input type="hidden" value="50">
                                        </div>
                                    </li>
                                </ul>

                                <h2 class="commerce-category-list-title">
                                    <a href="" class="">기타</a> <!--상위 카테고리-->
                                </h2>

                                <ul class="commerce-category-tree commerce-category-list-categories">
                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">전자제품·기기</a> <!--하위 카테고리-->
                                            <input type="hidden" value="51">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">여행·레저</a> <!--하위 카테고리-->
                                            <input type="hidden" value="52">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">취미·공예</a> <!--하위 카테고리-->
                                            <input type="hidden" value="53">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">책·출판</a> <!--하위 카테고리-->
                                            <input type="hidden" value="54">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">음악·엔터테인먼트</a> <!--하위 카테고리-->
                                            <input type="hidden" value="55">
                                        </div>
                                    </li>

                                    <li class="commerce-category-tree-entry">
                                        <div class="commerce-category-tree-entry-header">
                                            <a href="" class="commerce-category-tree-entry-title change-list">그 외</a> <!--하위 카테고리-->
                                            <input type="hidden" value="56">
                                        </div>
                                    </li>
                                </ul>



                                <!--나머지 상위 카테고리-->
                                <!--<ul class="commerce-category-list-others">
                                    <li class="commerce-category-list-others-item" data-order="1">
                                        <a href="" class="change-list">리빙홈</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="2">
                                        <a href="" class="change-list">문구</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="3">
                                        <a href="" class="change-list">제로웨이스트</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="4">
                                        <a href="" class="change-list">음료·주류</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="5">
                                        <a href="" class="change-list">디저트</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="6">
                                        <a href="" class="change-list">요리</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="7">
                                        <a href="" class="change-list">반려용품</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="8">
                                        <a href="" class="change-list">유아용품</a>
                                    </li>

                                    <li class="commerce-category-list-others-item" data-order="9">
                                        <a href="" class="change-list">기타</a>
                                    </li>
                                </ul>-->
                            </section>
                        </div>
                        <div class="category-feed-content bar-col bar-second-layout">
                            <div class="category-feed-content-filter">
                                <div class="filter-wrapper">
                                    <div class="filter">
                                        <div class="category-feed-container">
                                            <div class="category-filter-bar-control-list">
                                                <ul class="category-filter-bar-control-list-left">
                                                    <!--체크 표시 형태(비활성화)-->


                                                    <!--메뉴 선택 형태(비활성화)-->
                                                    <li class="category-filter-bar-control-list-item">
                                                        <div class="panel-drop-down">
                                                            <button type="button" class="category-filter-bar-button category-filter-bar-button-active">
                                                                희망 가격대
                                                                <svg class="chevron" width="12" height="12">
                                                                    <g fill="none" fill-rule="evenodd">
                                                                        <path d="M0 0h12v12H0z"></path>
                                                                        <path fill="currentColor" fill-rule="nonzero" d="M2.154 3L1 4.125 6 9l5-4.875L9.846 3 6 6.75z"></path>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                            <div class="option-wrap" id="hope-price">
                                                                <div class="opt relist">10,000원 미만</div>
                                                                <div class="opt relist">10,000원 대</div>
                                                                <div class="opt relist">20,000원 대</div>
                                                                <div class="opt relist">30,000원 대</div>
                                                                <div class="opt relist">40,000원 대</div>
                                                                <div class="opt relist">50,000원 대</div>
                                                                <div class="opt relist">60,000원 대</div>
                                                                <div class="opt relist">70,000원 대</div>
                                                                <div class="opt relist">80,000원 대</div>
                                                                <div class="opt relist">90,000원 대</div>
                                                                <div class="opt relist">100,000원 이상</div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="category-filter-bar-control-list-item">
                                                        <div class="panel-drop-down">
                                                            <button type="button" class="category-filter-bar-button category-filter-bar-button-active">
                                                                최대 협의자수
                                                                <svg class="chevron" width="12" height="12">
                                                                    <g fill="none" fill-rule="evenodd">
                                                                        <path d="M0 0h12v12H0z"></path>
                                                                        <path fill="currentColor" fill-rule="nonzero" d="M2.154 3L1 4.125 6 9l5-4.875L9.846 3 6 6.75z"></path>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                            <div class="option-wrap" id="idea-max">
                                                                <div class="opt relist">제한 없음</div>
                                                                <div class="opt relist">1명</div>
                                                                <div class="opt relist">2명</div>
                                                                <div class="opt relist">3명</div>
                                                                <div class="opt relist">4명</div>
                                                                <div class="opt relist">5명</div>
                                                                <div class="opt relist">6명</div>
                                                                <div class="opt relist">7명</div>
                                                                <div class="opt relist">8명</div>
                                                                <div class="opt relist">9명</div>
                                                                <div class="opt relist">10명</div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li class="category-filter-bar-control-list-item">
                                                        <div class="panel-drop-down">
                                                            <button type="button" class="category-filter-bar-button category-filter-bar-button-active">
                                                                정렬
                                                                <svg class="chevron" width="12" height="12">
                                                                    <g fill="none" fill-rule="evenodd">
                                                                        <path d="M0 0h12v12H0z"></path>
                                                                        <path fill="currentColor" fill-rule="nonzero" d="M2.154 3L1 4.125 6 9l5-4.875L9.846 3 6 6.75z"></path>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                            <div class="option-wrap" id="sort">
                                                                <div class="opt relist">최신순</div>
                                                                <div class="opt relist">스크랩순</div>
                                                                <div class="opt relist">조회수순</div>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <!--메뉴 선택 형태(활성화)-->
                                                    <!--<li class="category-filter-bar-control-list-item">
                                                        <div class="panel-drop-down">
                                                            <button type="button" class="category-filter-bar-button category-filter-bar-button-active">
                                                                희망 가격
                                                                <svg class="chevron" width="12" height="12">
                                                                    <g fill="none" fill-rule="evenodd">
                                                                        <path d="M0 0h12v12H0z"></path>
                                                                        <path fill="currentColor" fill-rule="nonzero" d="M2.154 3L1 4.125 6 9l5-4.875L9.846 3 6 6.75z"></path>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </li>-->
                                                </ul>
                                            </div>

                                            <div class="category-filter-bar-tag-list-placeholder"></div> <!--아무것도 선택되지 않았을 때-->

                                            <div class="category-filter-bar-tag-list"> <!--하나라도 선택된 것이 있을 때-->
                                                <!--선택된 무언가들의 태그-->
                                                <div class="category-filter-bar-tag-list-container">
                                                    <ul class="category-filter-bar-tag-list-content">
                                                        <div id="hope-price-tag"></div>
                                                        <input type="text" hidden>

                                                        <div id="idea-max-tag"></div>
                                                        <input type="text" hidden>

                                                        <div id="sort-tag"></div>
                                                        <input type="text" hidden>
                                                        <!--무언가가 선택될 때마다 아래의 li 태그 추가-->
                                                        <!--<li class="category-filter-bar-tag-list-item">
                                                            <button class="category-filter-bar-tag">
                                                                선택된 무언가
                                                                <svg width="12" height="12">
                                                                    <g fill="none" fill-rule="evenodd" opacity=".5">
                                                                        <path d="M0 0h12v12H0z"></path>
                                                                        <path fill="currentColor" fill-rule="nonzero" d="M9.778 1.5l.722.75-3.778 3.722L6.75 6l-.028.028L10.5 9.75l-.722.75L6 6.745 2.222 10.5 1.5 9.75l3.777-3.723L5.25 6l.027-.027L1.5 2.25l.722-.75L6 5.255 9.778 1.5z"></path>
                                                                    </g>
                                                                </svg>
                                                            </button>
                                                        </li>-->
                                                    </ul>
                                                </div>

                                                <!--초기화 버튼-->
                                                <button class="category-filter-bar-tag-list-clear">
                                                    <img src="/images/icon/refresh.svg" class="icon">
                                                    <!--<svg class="icon" width="1em" height="1em" viewBox="0 0 20 20">
                                                        <g fill="none" fill-rule="evenodd">
                                                            <path d="M0 0h20v20H0z"></path>
                                                            <path fill="currentColor" fill-rule="nonzero" d="M8.958.833c3.844 0 7.157 2.488 8.417 6.019l.887-1.538a.834.834 0 011.444.833L17.67 9.671a.833.833 0 01-1.138.305l-3.524-2.035a.833.833 0 11.833-1.443l2.054 1.186C14.943 4.654 12.174 2.5 8.958 2.5c-4.022 0-7.291 3.353-7.291 7.5s3.269 7.5 7.291 7.5c2.47 0 4.73-1.272 6.075-3.35a.833.833 0 011.399.905c-1.647 2.546-4.43 4.112-7.474 4.112C4.006 19.167 0 15.058 0 10S4.006.833 8.958.833z"></path>
                                                        </g>
                                                    </svg>-->
                                                    <span class="text">초기화</span>
                                                </button>
                                            </div>

                                            <div class="category-filter-all-items">
                                                <p class="all-text"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row" style="padding-top: 0px; transform: translateY(0px);" id="ideas-wrap">
                                    <!--바로 아래의 div가 반복됨-->
                                    <!--<div class="category-feed-content-item-wrap item-col item-layout">
                                        <article class="production-item">
                                            <a href="" class="production-item-overlay"></a>
                                            <div class="production-item-image">
                                                <img class="image" alt="" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=360&amp;h=360&amp;c=c&amp;q=0.8&amp;webp=1" srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=640&amp;h=640&amp;c=c&amp;q=0.8&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=720&amp;h=720&amp;c=c&amp;q=0.8&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/164325182439107818.jpg?gif=1&amp;w=1080&amp;h=1080&amp;c=c&amp;q=0.8&amp;webp=1 3x">
                                                <button type="button" class="production-item-scrap-badge">
                                                    <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" width="24" height="24"><path stroke="#fff" fill="#fff3" d="M2.849,23.55a2.954,2.954,0,0,0,3.266-.644L12,17.053l5.885,5.853a2.956,2.956,0,0,0,2.1.881,3.05,3.05,0,0,0,1.17-.237A2.953,2.953,0,0,0,23,20.779V5a5.006,5.006,0,0,0-5-5H6A5.006,5.006,0,0,0,1,5V20.779A2.953,2.953,0,0,0,2.849,23.55Z"/></svg>
                                                </button>
                                            </div>

                                            <div class="production-item-content">
                                                <h1 class="production-item-title">아이디어 제목</h1>
                                                <h3 class="production-item-title" style="
                                                    margin: 0;
                                                    font-weight: 500;
                                                    font-size: 15px;
                                                    margin-top: 10px;
                                                    color: #9d9b9b;
                                                    letter-spacing: -0.5px;
                                                ">아이디어 한 줄 소개 아이디어 한 줄 소개 아이디어 한 줄 소개 아이디어 한 줄 소개아이디어 한 줄 소개 아이디어 한 줄 소개 아이디어 한 줄 소개아이디어 한 줄 소개아이디어 한 줄 소개아이디어 한 줄 소개 </h3>
                                                <span class="item-profile-writer-name" style="
                                                    display: inline-block;
                                                    margin-top: 10px;
                                                    font-size: 15px;
                                                    color: #444;
                                                    font-weight: 600;
                                                ">최예인</span>
                                                <footer class="production-item-status">
                                                    <span class="entry">
                                                        스크랩
                                                        22
                                                    </span>
                                                    <span class="entry">
                                                        조회
                                                        1,893
                                                    </span>
                                                    <span class="entry" style="color: mediumpurple; font-weight: 700;">
                                                        진행상황 2/5명
                                                    </span>
                                                </footer>
                                            </div>
                                        </article>
                                    </div>-->
                                </div>

                                <input type="text" id="topCategory" hidden>
                                <input type="text" id="subCategory" hidden>

                                <!--페이징처리-->
                                <div class="comment-paginator" id="paging-wrap">
                                    <a class="active-moving change-page relist" th:if="${pagination.prev}" th:data-page="${pagination.startPage - 1}">
                                        <span class="prev-arrow"></span>
                                    </a>
                                    <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                        <a th:if="${page eq pagination.page}" class="active" th:data-page="${page}" th:text="${page}"></a>
                                        <a th:unless="${page eq pagination.page}" class="change-page inactive" th:data-page="${page}" th:text="${page}"></a>
                                    </th:block>
                                    <a class="active-moving change-page relist" th:if="${pagination.next}" th:data-page="${pagination.endPage + 1}">
                                        <span class="next-arrow"></span>
                                    </a>
                                </div>
                                <!--------->

                            </div>
                        </div>
                    </div>

                    <div type="button" class="scroll-to-top-wrap">
                        <button type="button" class="scroll-to-top" onclick="clickme()">
                            <span class="scroll-arrow"></span>
                        </button>
                    </div>
                </div>
            </div>

            <footer th:replace="~{/fix/footer :: #main-footer}"></footer>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/fix/scroll.js"></script>

<script th:inline="javascript">
    let ideas = [[${ideas}]];
    let total = [[${total}]];
    let nowPage = [[${pagination.page}]]
    // let order = [[${search.order}]]
    let id = [[${session.id}]];
</script>

<script src="/js/idea/list.js"></script>
<!------------------------------------------>
<script>
    /* 드롭다운 메뉴 */
    $(".panel-drop-down").on("click", function () {
        const $optionWrap = $(this).find(".option-wrap");

        if ($optionWrap.css("display") == "none") {
            $optionWrap.fadeIn("fast");
        } else {
            $optionWrap.fadeOut("fast");
        }
    });

    let categoryValue = '1'; // 전역 범위로 categoryValue를 선언
    let $tagWrap = $(".category-filter-bar-tag-list");
    $tagWrap.hide();

    // 공통 클릭 핸들러
    function handleOptionClick(event, targetId, secondaryAction) {
        let index = $(event.target).index();
        let $optText = $(this).text();
        let $text = `<li class="category-filter-bar-tag-list-item">
                        <button class="category-filter-bar-tag">
                            <span>${$optText}</span>
                            <img src="/images/icon/x.svg" width="10" height="10">
                        </button>
                    </li>`;

        $tagWrap.show();
        $(targetId).html($text);
        $(targetId).next().val(index);

        if (secondaryAction) secondaryAction(index);
    }

    // 정렬 관련 추가 로직
    function handleSortOrder(index) {
        let order = index == 1 ? 'scrap' : index == 2 ? 'popular' : 'recent';
    }

    $("#hope-price .opt").on("click", function(e) {
        handleOptionClick.call(this, e, "#hope-price-tag");
    });

    $("#idea-max .opt").on("click", function(e) {
        handleOptionClick.call(this, e, "#idea-max-tag");
    });

    $("#sort .opt").on("click", function(e) {
        handleOptionClick.call(this, e, "#sort-tag", handleSortOrder);
    });

    if($("#hope-price-tag").text().trim() == "" &&
        $("#idea-max-tag").text().trim() == "" &&
        $("#sort-tag").text().trim() == ""){
        $tagWrap.hide();
    } else {
        $tagWrap.show();
    }

    // 태그 x 이미지를 클릭하면 태그 삭제 로직
    $(document).on("click", ".category-filter-bar-tag img", function() {
        const $parentTag = $(this).closest(".category-filter-bar-tag-list-item").parent();

        // 태그 삭제
        $(this).closest(".category-filter-bar-tag-list-item").remove();

        // 해당 태그의 숨겨진 입력 필드 값을 초기화
        $parentTag.next().val("");

        // 모든 태그가 삭제되었는지 확인 후, 전체 태그 목록을 숨김
        if ($("#hope-price-tag").text().trim() == "" &&
            $("#idea-max-tag").text().trim() == "" &&
            $("#sort-tag").text().trim() == "") {
            $tagWrap.hide();
        }

        sendAjaxRequest();
    });


    $(".category-filter-bar-tag-list-clear").on("click", function() {
        // 태그 삭제
        $("#hope-price-tag").empty();
        $("#idea-max-tag").empty();
        $("#sort-tag").empty();

        // 숨겨진 입력 필드 값을 초기화
        $("#hope-price-tag").next().val("");
        $("#idea-max-tag").next().val("");
        $("#sort-tag").next().val("");

        $tagWrap.hide();

        // 초기화된 값을 기반으로 AJAX 요청을 다시 보냅니다.
        sendAjaxRequest();
    });



    /*--------태그 이벤트---------*/


    // 카테고리 클릭 이벤트
    $('.change-list').on('click', function(event) {
        event.preventDefault(); // 페이지 이동을 방지
        categoryValue = $(this).next('input').val(); // 해당 카테고리의 value 값 가져오기
        sendAjaxRequest(); // 카테고리가 클릭될 때마다 AJAX 요청을 보냄
    });

    $('.relist').on('click', function(event) {
        sendAjaxRequest(); // 필터링 버튼 클릭 시 AJAX 요청을 보냄
    });

    // 필터링 옵션 및 카테고리 정보를 수집하고 AJAX로 전송하는 함수
    function sendAjaxRequest() {
        let page = $(this).data("page");
        let hopePriceIndex = $("#hope-price-tag").next().val();
        let ideaMaxIndex = $("#idea-max-tag").next().val();
        let sortValue = $("#sort-tag").next().val();
        let sortIndex;
        switch(sortValue) {
            case '1':
                sortIndex = 'scrap';
                break;
            case '2':
                sortIndex = 'popular';
                break;
            default:
                sortIndex = 'recent';
        }

        console.log('page', page, 'hopePriceIndex', hopePriceIndex, 'ideaMaxIndex', ideaMaxIndex, 'sortIndex', sortIndex, 'categoryValue', categoryValue);

        $.ajax({

            url: `/idea/ideaBank`, // 서버에 요청을 보낼 URL
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                page: page,
                ideaPrice: hopePriceIndex,
                ideaMax: ideaMaxIndex,
                order: sortIndex,
                ideaCategory: categoryValue
            }),
            success: function(response) {
                console.log(response);
                showList(response.ideas, response.total);

                // 페이지네이션 업데이트
                updatePagination(response.pagination);
            },
            error: function(error) {
                // 오류 처리 로직
                console.error("Error occurred:", error);
            }
        });
    }

</script>


<script src="/js/idea/paging.js"></script>



</html>

