<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iContact</title>
    <link rel="icon" href="/images/icon/favicon.png">
    <link rel="stylesheet" href="/css/about/introduce.css">

    <style>
        /*돋보기 아이콘을 위한 폰트*/
        @font-face{
            font-family:OhouseIcon;
            src:url(https://assets.ohou.se/design-system/d8923b386a66fd50.woff2) format("woff2");
        }


        @font-face {
            font-family: 'Pretendard Variable';
            src: url('/font/PretendardVariable.woff2');
        }
    </style>
</head>
<body>

<div th:replace="~{/fix/sub-header :: sub-header}"></div>

<section class="index-page">
    <div class="index-page-container">
        <div class="slide-up slide-up-active" style="animation-delay:400ms;animation-duration:500ms">
            <h1 class="index-page-title">
                당신의 생각,
                <br class="index-page-title-line-break">
                일상의 변화
            </h1>
        </div>

        <div class="slide-up slide-up-active" style="animation-delay:400ms;animation-duration:500ms">
            <p class="index-page-sub-title">
                우리는 일상을 경험하는 방식을 새롭게 정의합니다.
                <br>
                모두의 삶에 영감을 줄 수 있도록 끊임없이 기술을 혁신하고,
                <br>
                모두가 자신의 상상, 나아가 삶을 사랑하게 만드는 유례없는 도전을 하고 있습니다.
            </p>
        </div>
    </div>

    <div class="marquee index-page-marquee-images">
        <div class="marquee-wrap index-page-marquee-images-wrap">
            <!--아래의 div가 복제됨-->
            <div class="marquee-list index-page-marquee-images-wrap-list">
                <!--아래의 div가 사진 수 만큼 반복-->
                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span th:text="${scrapTopIdeas[0].userNickname}"></span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span th:text="${scrapTopIdeas[1].userNickname}"></span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span th:text="${scrapTopIdeas[2].userNickname}"></span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span th:text="${scrapTopIdeas[3].userNickname}"></span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span>도토리홀</span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span>도토리홀</span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span>도토리홀</span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span>도토리홀</span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span>도토리홀</span>님의 아이디어</div>
                </div>

                <div class="index-page-marquee-images-item">
                    <img class="index-page-marquee-images-item-img" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/159168253564046762.png?w=850&webp=1" alt="">
                    <div class="index-page-marquee-images-item-text">iContact 유저 <span>도토리홀</span>님의 아이디어</div>
                </div>

            </div>
        </div>
    </div>

    <section class="index-page-info">
        <div class="index-page-info-container index-page-container">
            <div class="index-page-info-wrap">
                <p class="index-page-info-title">iContact,<br>라이프스타일 산업의<br>새로운 역사를 쓰고 있습니다.</p>

                <div class="index-page-info-count">
                    <div class="index-page-info-count-item">
                        <div class="index-page-info-count-item-title">
                            라이프스타일 슈퍼앱
                        </div>
                        <span class="index-page-info-count-item-text">이용 고객</span>
                        <span class="index-page-info-count-item-number">4,500만 이상</span>
                    </div>
                </div>

                <div class="index-page-info-count">
                    <div class="index-page-info-count-item">
                        <div class="index-page-info-count-item-title">
                            iContact 성수기 월 거래액
                        </div>
                        <span class="index-page-info-count-item-text">월 거래액</span>
                        <span class="index-page-info-count-item-number">1,800억 수준</span>
                    </div>
                </div>

                <div class="index-page-info-count">
                    <div class="index-page-info-count-item">
                        <div class="index-page-info-count-item-title">
                            온라인 아이디어 커뮤니티의 확고한 1위
                        </div>
                        <span class="index-page-info-count-item-text">iContact에서 아이디어가</span>
                        <span class="index-page-info-count-item-number">8초에 1개씩 컨택</span>
                    </div>
                </div>

                <div class="index-page-info-explain">
                    * 2023년 5월 기준
                </div>

            </div>

            <div>
                <div class="index-page-info-history">
                    <ul class="index-page-info-history-list">
                        <!--아래 div 15번 반복-->
                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2014.07
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                (주)iContact 법인 설립
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2015.04
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                iContact 홈페이지 런칭
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2017.03
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                누적 이용고객 100만 달성
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2018.05
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                제 13회 대한민국 인터넷대상 국무총리상 수상
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2018.07
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                커뮤니티 페이지 론칭
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2019.12
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                누적 기부액 50억 달성
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2020.11
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                누적 이용 고객 수 2000만 돌파
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2021.01
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                아이디어 커뮤니티 플랫폼 최초 ISMS(개인정보보호관리체계) 획득
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2021.12
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                제로웨이스트 서비스 론칭
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2022.03
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                누적이용 고객 수 4,000만 돌파
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2022.08
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                신규투자 유치
                            </div>
                        </div>

                        <div class="index-page-info-history-list-item">
                            <div class="index-page-info-history-list-item-date">
                                2023.03
                            </div>
                            <div class="index-page-info-history-list-item-value">
                                CB Insights 선정 '세계 유니온 클럽' 입성
                            </div>
                        </div>

                        <!--                        <div class="index-page-info-history-list-item">-->
                        <!--                            <div class="index-page-info-history-list-item-date">-->
                        <!--                                2014.07-->
                        <!--                            </div>-->
                        <!--                            <div class="index-page-info-history-list-item-value">-->
                        <!--                                (주)iContact 법인 설립-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <!--                        <div class="index-page-info-history-list-item">-->
                        <!--                            <div class="index-page-info-history-list-item-date">-->
                        <!--                                2014.07-->
                        <!--                            </div>-->
                        <!--                            <div class="index-page-info-history-list-item-value">-->
                        <!--                                (주)iContact 법인 설립-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <!--                        <div class="index-page-info-history-list-item">-->
                        <!--                            <div class="index-page-info-history-list-item-date">-->
                        <!--                                2014.07-->
                        <!--                            </div>-->
                        <!--                            <div class="index-page-info-history-list-item-value">-->
                        <!--                                (주)iContact 법인 설립-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="index-page-app-info index-page-container">
        <div>
            <p class="index-page-app-info-title">콘텐츠, 커뮤니티, 커머스가 결합된 올인원 플랫폼으로<br>라이프 스타일 혁신을 주도합니다.</p>
        </div>

        <section class="index-page-app-info-content-list">
            <!--아래의 div 반복-->
            <div class="index-page-app-info-content-list-item">
                <img src="/images/admin/idea1.jpg" class="index-page-app-info-content-list-item-img" style="margin-left: 40px">
                <div class="index-page-app-info-content-list-item-text">
                    <p class="index-page-app-info-content-list-item-text-title">창의력 넘치는 유저들의 아이디어가 가득한 콘텐츠</p>
                    <p class="index-page-app-info-content-list-item-text-sub-title">막막하기만 했던 아이디어의 실현과 새로운 아이디어를 찾는 사장님이 더 쉽게 이어질 수   있도록 돕습니다.</p>
                </div>
            </div>

            <div class="index-page-app-info-content-list-item">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/163886870824317131.jpg?w=850&webp=1" class="index-page-app-info-content-list-item-img">
                <div class="index-page-app-info-content-list-item-text">
                    <p class="index-page-app-info-content-list-item-text-title">매력적인 콘텐츠를 끊임없이 공유하는 커뮤니티</p>
                    <p class="index-page-app-info-content-list-item-text-sub-title">처음 접하는 콘텐츠에 대한 두려움을 진솔한 경험담으로 더 쉽고 편안하게 이용하실 수 있습니다.</p>
                </div>
            </div>

            <div class="index-page-app-info-content-list-item">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/159607650939611614.jpg?w=850&webp=1" class="index-page-app-info-content-list-item-img">
                <div class="index-page-app-info-content-list-item-text">
                    <p class="index-page-app-info-content-list-item-text-title">생각만 했던 나의 아이디어가 세상의 빛을 볼 그 순간</p>
                    <p class="index-page-app-info-content-list-item-text-sub-title">콘텐츠 속 제품 정보가 궁금할 때 태그를 클릭하여 상세 정보를 확인하고, 구매까지 한 번에 진행할 수 있도록 편리한 구매 경험을 제공합니다.</p>
                </div>
            </div>

            <div class="index-page-app-info-content-list-item">
                <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/165770061932317711.png?w=850&webp=1" class="index-page-app-info-content-list-item-img">
                <div class="index-page-app-info-content-list-item-text">
                    <p class="index-page-app-info-content-list-item-text-title">이전과는 다른 새로운 아이템이 많은 아이디어 뱅크</p>
                    <p class="index-page-app-info-content-list-item-text-sub-title">어렵게만 느껴졌던 새로운 아이템 창출도 icontact에서는 쉬워집니다. 기존과는 다른 새로운 아이디어로 더 넓은 시장과 회사의 성장 icontact에서 시작하세요.</p>
                </div>
            </div>

            <div class="index-page-app-info-button-list">
                <a th:href="@{/icontact/icontact/}" class="index-page-app-info-button-list-item">웹사이트</a>
                <a th:href="@{/user/join/}" class="index-page-app-info-button-list-item">회원가입</a>
            </div>
        </section>
    </div>

    <div class="index-page-divider"></div>

</section>


<footer th:replace="~{/fix/sub-footer :: sub-footer}"></footer>


</body>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/js/about/introduce.js"></script>
</script>
</html>