<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>소중한 당신의 아이디어 - iContact에서 보여주세요!</title>
    <link rel="icon" href="../../static/images/icon/favicon.png">
    <link rel="stylesheet" href="../../static/css/about/qna.css">
</head>
<body>

<div class="full-height">
    <div class="layout">
        <div id="headers"></div>
        <div class="relative">
            <section class="hero">
                <div class="hero-inner">
                    <h2>무엇을 도와드릴까요?</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
                        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"></circle>
                        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"></path>
                    </svg>
                    <form action="" class="search">
                        <input type="text" placeholder="궁금한 것을 검색해보세요">
                    </form>
                </div>
            </section>

            <div class="qna-header">
                <nav class="sticky qna-header-layout">
                    <label class="qna-sort-tag-active">
                        <input type="checkbox" id="전체" class="qna-sort-checkbox" hidden>
                        <span class="qna-sort-tag-content">전체</span>
                    </label>
                    <label class="qna-sort-tag-inactive">
                        <input type="checkbox" id="결제" class="qna-sort-checkbox" hidden>
                        <span class="qna-sort-tag-content">결제</span>
                    </label>
                    <label class="qna-sort-tag-inactive">
                        <input type="checkbox" id="환불" class="qna-sort-checkbox" hidden>
                        <span class="qna-sort-tag-content">환불</span>
                    </label>
                    <label class="qna-sort-tag-inactive">
                        <input type="checkbox" id="게시글" class="qna-sort-checkbox" hidden>
                        <span class="qna-sort-tag-content">게시글</span>
                    </label>
                    <label class="qna-sort-tag-inactive">
                        <input type="checkbox" id="증빙서류발급" class="qna-sort-checkbox" hidden>
                        <span class="qna-sort-tag-content">증빙서류발급</span>
                    </label>
                    <label class="qna-sort-tag-inactive">
                        <input type="checkbox" id="로그인_회원정보" class="qna-sort-checkbox" hidden>
                        <span class="qna-sort-tag-content">로그인/회원정보</span>
                    </label>
                    <label class="qna-sort-tag-inactive">
                        <input type="checkbox" id="서비스/기타" class="qna-sort-checkbox" hidden>
                        <span class="qna-sort-tag-content">서비스/기타</span>
                    </label>
                </nav>
            </div>

            <section class="question-list-section">
                <ul class="question-list-wrapper">
                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">주문 내역은 어떻게 확인할 수 있나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                우측 상단 프로필 사진을 클릭 후 [나의쇼핑]을 통해 확인 가능합니다
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="open question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">결제 방법은 어떤 것이 있나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="open answer-wrapper">
                            <p class="answer-content">
                                신용카드 및 체크카드, 무통장 입금, 휴대폰 소액결제, 네이버페이를 이용해 결제 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">비회원주문 및 전화주문이 가능한가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                전화주문은 준비중에 있습니다.
                                비회원 주문은 가능하지만 일부 상품에 한해 제한되어있습니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">신용카드 무이자 할부가 되나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                각 카드사 별로 상이하며, 카드사를 통해 확인 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">신용카드 결제 후 할부 개월 수를 변경 가능한가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                결제 후 결제 정보 변경은 불가능 합니다.
                                단, 결제 완료 단계에서는 취소 후 재주문을 통해 변경 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">가상계좌 은행을 변경 할 수 있나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                한번 발급 받은 계좌번호는 변경이 불가능합니다.
                                재주문을 통해 새로운 계좌를 발급 받으신 후 입금 부탁드립니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="open question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">주문 후 결제 방법을 변경하고 싶은데 어떻게 해야 하나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="open answer-wrapper">
                            <p class="answer-content">
                                결제 후 결제 정보 변경은 불가능 합니다.
                                단, 입금 대기 및 결제 완료 단계에서는 취소 후 재주문을 통해 변경 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">전문가계정은 무엇인가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                오늘의집 전문가 계정은 홍보가 어려웠던 인테리어 전문가님에게
                                홍보를 효율적으로 관리하실 수 있게 마련된 계정입니다.
                                전문가 계정을 통해 오늘의집 100만 사용자들에게 더욱 손쉬운 홍보가 가능하니 많은 이용 부탁드립니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">집들이와 노하우는 어떻게 업로드 하나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                오늘의집 홈페이지 접속하신 다음 우측 상단 연필 모양 버튼 클릭 후 노하우 또는 집들이 업로드가 가능합니다.
                                모바일 앱과 모바일 웹은 지원하지 않으며 PC 웹사이트에서만 작성 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">회원가입시 이미 가입된 이메일이라고 표시됩니다. 어떻게 해야하나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                contact@icontact.net으로 문의 부탁드립니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">오늘의집을 앱으로도 볼수 있나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                가능합니다. 웹사이트와 함께 아이폰, 안드로이드 어플리케이션도 제공하고있으며, 앱스토어 또는 플레이스토어에서 "오늘의집"을 검색해 다운받을 수 있습니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">오늘의집 채용은 어디에서 확인 가능한가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                http://bucketplace.co.kr/recruit 페이지에서 확인 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">온라인 집들이에 우리집을 소개하고 싶어요. 어떻게 하나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                오늘의집 PC 웹사이트에 접속하신 다음 우측 상단 연필 모양 버튼 클릭 후 집들이 선택 시 신청이 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">주문 후 지출증빙/현금영수증 발행이 가능한가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                주문 완료 후 지출증빙/현금영수증 발행은 불가능합니다.
                                지출증빙/현금영수증을 원하사는 경우 반드시 주문 시 "입금자 정보 입력"란에 지출증빙/소득공제 발행 신청을 선택 후 요청정보(주민등록번호/현금영수증 카드번호/휴대폰번호/사업자등록번호)를 입력하셔야 합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">주문건의 결제 금액을 나눠서 영수증 발행이 가능한가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                주문하신 내역 중 일부 상품에 대해서만 분할로 영수증을 발급 받으실 수는 없습니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">오늘의집 웹에서는 애플 아이디로 로그인이 가능한가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                애플 로그인은 앱에서만 사용이 가능합니다. 고객님들의 편의를 위해 웹에서도 애플 로그인이 가능하도록 현재 개발 중에 있습니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">비밀번호 변경은 어떻게하나요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                우측 상단 프로필 사진을 클릭 후 [마이홈 > 설정 > 비밀번호 변경] 페이지에서 비밀번호 변경이 가능합니다.
                            </p>
                        </div>
                    </li>

                    <li class="question-list">
                        <h3 class="question-list-content">
                            <button class="show-answer">
                                <span class="faq-mark">Q</span>
                                <span class="question-text">회원탈퇴 후 재가입이 가능한가요?</span>
                                <span class="chevron chevron-down"></span>
                            </button>
                        </h3>
                        <div class="answer-wrapper">
                            <p class="answer-content">
                                오늘의집 재가입은 언제든지 가능합니다.
                            </p>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="../../static/js/fix/header.js"></script>

</html>