<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.AdminMapper">
<!--    커뮤니티 관리목록 보기-->
    <select id="selectAllCommunity" resultType="CommunityDTO">
        SELECT C.ID, COMMUNITY_TITLE, COMMUNITY_REGISTER_DATE, COMMUNITY_UPDATE_DATE, U.ID, USER_NAME
        FROM TBL_COMMUNITY C JOIN TBL_USER U
        ON U.ID = C.USER_ID
    </select>

<!--    커뮤니티 글 삭제-->
    <delete id="deleteCommunity">
        DELETE FROM TBL_COMMUNITY
        WHERE id = #{communityId}
    </delete>

<!--    공지사항 작성-->
    <insert id="insertNotice">
        INSERT INTO TBL_NOTICE(ID, NOTICE_TITLE, NOTICE_CONTENT)
        VALUES (SEQ_NOTICE.NEXTVAL, #{noticeTitle}, #{noticeContent})
    </insert>


    <!--    문의목록 보기-->
    <select id="selectAllInquiry" resultType="inquiryDTO">
        SELECT I.ID, INQUIRY_TITLE, INQUIRY_WRITER_NAME, INQUIRY_WRITER_EMAIL, INQUIRY_DATE, INQUIRY_CONTENT, A.ID
        FROM TBL_INQUIRY I JOIN TBL_ANSWER A
        ON I.ID = A.INQUIRY_ID
    </select>


    <!--    문의 보기-->
    <select id="selectInquiry" resultType="answerVO">
        SELECT ID, INQUIRY_TITLE, INQUIRY_WRITER_NAME, INQUIRY_WRITER_EMAIL, INQUIRY_DATE, INQUIRY_CONTENT
        FROM TBL_INQUIRY WHERE ID = #{inquiryId}
    </select>

    <!--    문의 답변하기-->
    <insert id="insertAnswer">
        INSERT INTO TBL_ANSWER (ID, ANSWER_TITLE, ANSWER_CONTENT, USER_ID, INQUIRY_ID)
        VALUES (SEQ_ANSWER.NEXTVAL, #{inquiryTitle}, #{answerContent}, #{userId}, #{inquiryId})
    </insert>


    <!--    결제목록 보기-->
    <select id="selectAllPayment" resultType="PaymentVO"></select>
<!--    public List<PaymentVO> selectAllPayment(@Param("pagination") Pagination pagination);-->

<!--    결제 취소-->
  <!--  <update id="updateCancel">
        UPDATE TBL_PAYMENT
        SET
    </update>
    public String updateCancel(String paymentId);-->
</mapper>