<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.CommunityMapper">
    <select id="selectComAll" resultType="communityVO">
        SELECT ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, COMMUNITY_REGISTER_DATE, COMMUNITY_UPDATE_DATE, COMMUNITY_READ_COUNT, COMMUNITY_ANONYM, SORT_ID, USER_ID
        FROM TBL_COMMUNITY
        ORDER BY ID DESC
    </select>

    <select id="selectMine" resultType="communityVO">
        SELECT ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, COMMUNITY_REGISTER_DATE, COMMUNITY_UPDATE_DATE, COMMUNITY_READ_COUNT, COMMUNITY_ANONYM, SORT_ID, USER_ID
        FROM TBL_COMMUNITY
        WHERE USER_ID = #{id}
    </select>
    
    <insert id="insertCom">
        INSERT INTO TBL_COMMUNITY(ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, SORT_ID, USER_ID)
        VALUES(SEQ_COMMUNITY.NEXTVAL, #{communityTitle}, #{communityContent}, #{sortId}, #{userId})
    </insert>
</mapper>