<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.CommunityMapper">
    <select id="selectComAll" resultType="communityDTO">
        SELECT ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, COMMUNITY_REGISTER_DATE, COMMUNITY_UPDATE_DATE, COMMUNITY_READ_COUNT, SORT_ID, USER_ID
        FROM TBL_COMMUNITY
        ORDER BY ID DESC
    </select>

    <select id="selectComMine" resultType="communityVO">
        SELECT ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, COMMUNITY_REGISTER_DATE, COMMUNITY_UPDATE_DATE, COMMUNITY_READ_COUNT, SORT_ID, USER_ID
        FROM TBL_COMMUNITY
        WHERE USER_ID = #{id}
    </select>
    
    <insert id="insertCom">
        INSERT INTO TBL_COMMUNITY(ID, COMMUNITY_TITLE, COMMUNITY_CONTENT, SORT_ID, USER_ID)
        VALUES(SEQ_COMMUNITY.NEXTVAL, #{communityTitle}, #{communityContent}, #{sortId}, #{userId})
    </insert>

    <select id="selectListByReadCount" resultType="communityDTO2">
        <![CDATA[
        SELECT
        C.ID,
        C.COMMUNITY_TITLE,
        C.COMMUNITY_CONTENT,
        C.COMMUNITY_REGISTER_DATE,
        C.COMMUNITY_UPDATE_DATE,
        C.COMMUNITY_READ_COUNT,
        S.SORT_NAME,
        U.USER_NICKNAME
        FROM
        (SELECT *
        FROM (SELECT *
        FROM TBL_COMMUNITY
        ORDER BY COMMUNITY_READ_COUNT DESC)
        WHERE ROWNUM <= 3) C
        JOIN TBL_SORT S ON C.SORT_ID = S.ID
        JOIN TBL_USER U ON C.USER_ID = U.ID
        ]]>
    </select>
</mapper>