<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.IdeaMapper">
    <select id="selectByIdeaCategory" resultType="ideaDTO2">
        <![CDATA[
        SELECT *
        FROM (
        SELECT I.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, I.USER_ID, U.USER_NICKNAME
        FROM TBL_IDEA I
        JOIN TBL_USER U ON I.USER_ID = U.ID
        ORDER BY I.IDEA_READ_COUNT DESC
        )
        WHERE ROWNUM <= 4 AND IDEA_CATEGORY = #{ideaCategory}
        ]]>
    </select>

    <select id="selectPremiumIdeaByIdeaCategory" resultType="ideaDTO2">
        <![CDATA[
        SELECT *
        FROM (
        SELECT I.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, I.USER_ID, U.USER_NICKNAME, DBMS_RANDOM.VALUE AS RAND
        FROM TBL_IDEA I
        JOIN TBL_USER U ON I.USER_ID = U.ID
        WHERE I.IDEA_CATEGORY = #{ideaCategory}
        AND I.IDEA_TYPE = '프리미엄'
        ORDER BY RAND
        ) WHERE ROWNUM <= 4
        ]]>
    </select>

    <select id="selectByScrap" resultType="ideaDTO3">
        <![CDATA[
        SELECT I2.*, U.USER_NICKNAME
        FROM (
            SELECT I.*, COUNT(S.ID) AS SCRAP_COUNT
            FROM TBL_IDEA I
            LEFT JOIN TBL_SCRAP S ON I.ID = S.IDEA_ID
            GROUP BY I.ID, I.IDEA_TITLE, I.IDEA_INTRO, I.IDEA_DETAIL, I.IDEA_CATEGORY, I.IDEA_REGISTER_DATE, I.IDEA_UPDATE_DATE, I.IDEA_TYPE, I.IDEA_PRICE, I.IDEA_READ_COUNT, I.IDEA_MAX, I.USER_ID
            ORDER BY SCRAP_COUNT DESC
        ) I2
        JOIN TBL_USER U ON I2.USER_ID = U.ID
        WHERE ROWNUM <= 4
        ]]>
    </select>

    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_IDEA.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_IDEA (ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_TYPE, IDEA_PRICE, IDEA_MAX, USER_ID)
        VALUES(#{id}, #{ideaTitle}, #{ideaIntro}, #{ideaDetail}, #{ideaCategory}, #{ideaType}, #{ideaPrice}, #{ideaMax}, #{userId})
    </insert>

    <select id="selectIdeas" resultType="ideaDTO4">
        SELECT I.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE, IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT,
        IDEA_MAX, USER_ID, U.USER_NICKNAME
        FROM TBL_USER U JOIN TBL_IDEA I
        ON U.ID = I.USER_ID
        WHERE 1 = 1
        <if test="ideaCategory != null">
            AND IDEA_CATEGORY = #{ideaCategory}
        </if>
        <if test="ideaPrice != null">
            <choose>
                <when test="ideaPrice >= 100000">
                    <![CDATA[
                    AND IDEA_PRICE >= 100000
                    ]]>
                </when>
                <otherwise>
                    <![CDATA[
                    AND (IDEA_PRICE >= #{ideaPrice} - 5000 AND IDEA_PRICE < #{ideaPrice} + 5000)
                    ]]>
                </otherwise>
            </choose>
        </if>
        <if test="ideaMax != null">
            AND IDEA_MAX = #{ideaMax}
        </if>
    </select>

</mapper>