<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.IdeaFileMapper">
    <insert id="insert">
        INSERT INTO TBL_IDEA_FILE
        (ID, IDEA_FILE_PATH, IDEA_FILE_UUID, IDEA_FILE_NAME, IDEA_FILE_TYPE, IDEA_FILE_SIZE, IDEA_ID)
        VALUES(SEQ_IDEA_FILE.NEXTVAL, #{ideaFilePath}, #{ideaFileUuid}, #{ideaFileName}, #{ideaFileType}, #{ideaFileSize}, #{ideaId})
    </insert>

    <select id="selectAll" resultType="ideaFileVO">
        SELECT ID, IDEA_FILE_PATH, IDEA_FILE_UUID, IDEA_FILE_NAME, IDEA_FILE_SIZE, IDEA_ID, IDEA_FILE_TYPE
        FROM TBL_IDEA_FILE
        WHERE IDEA_ID = #{ideaId}
        ORDER BY IDEA_FILE_TYPE DESC
    </select>
</mapper>