<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.IdeaMapper">
    <select id="selectByIdeaCategory" resultType="ideaDTO4">
        <![CDATA[
        SELECT *
        FROM (
        SELECT I.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, I.USER_ID, U.USER_NICKNAME
        FROM TBL_IDEA I
        JOIN TBL_USER U ON I.USER_ID = U.ID
        ORDER BY I.IDEA_READ_COUNT DESC
        )
        WHERE ROWNUM <= 4 AND IDEA_CATEGORY = #{ideaCategory}
        ]]>
    </select>

    <select id="selectPremiumIdeaByIdeaCategory" resultType="ideaDTO4">
        <![CDATA[
        SELECT *
        FROM (
        SELECT I.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, I.USER_ID, U.USER_NICKNAME, DBMS_RANDOM.VALUE AS RAND
        FROM TBL_IDEA I
        JOIN TBL_USER U ON I.USER_ID = U.ID
        WHERE I.IDEA_CATEGORY = #{ideaCategory}
        AND I.IDEA_TYPE = '프리미엄'
        ORDER BY RAND
        ) WHERE ROWNUM <= 4
        ]]>
    </select>

    <select id="selectByScrap" resultType="ideaDTO4">
        <![CDATA[
        SELECT I2.*, U.USER_NICKNAME
        FROM (
            SELECT I.*, COUNT(S.ID) AS SCRAP_COUNT
            FROM TBL_IDEA I
            LEFT JOIN TBL_SCRAP S ON I.ID = S.IDEA_ID
            GROUP BY I.ID, I.IDEA_TITLE, I.IDEA_INTRO, I.IDEA_DETAIL, I.IDEA_CATEGORY, I.IDEA_REGISTER_DATE, I.IDEA_UPDATE_DATE, I.IDEA_TYPE, I.IDEA_PRICE, I.IDEA_READ_COUNT, I.IDEA_MAX, I.USER_ID
            ORDER BY SCRAP_COUNT DESC
        ) I2
        JOIN TBL_USER U ON I2.USER_ID = U.ID
        WHERE ROWNUM <= 4
        ]]>
    </select>

    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            SELECT SEQ_IDEA.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_IDEA (ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_TYPE, IDEA_PRICE, IDEA_MAX, USER_ID)
        VALUES(#{id}, #{ideaTitle}, #{ideaIntro}, #{ideaDetail}, #{ideaCategory}, #{ideaType}, #{ideaPrice}, #{ideaMax}, #{userId})
    </insert>

    <select id="selectIdeas" resultType="ideaDTO4">
        SELECT I.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, I.USER_ID, I.USER_NICKNAME, COALESCE(IDEA_SCRAP_COUNT, 0) AS IDEA_SCRAP_COUNT
        FROM
        (
        SELECT ROWNUM R, I2.*
        FROM
        (
        SELECT I1.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, I1.USER_ID, U.USER_NICKNAME,
        COUNT(S.ID) AS IDEA_SCRAP_COUNT
        FROM TBL_USER U
        INNER JOIN TBL_IDEA I1 ON U.ID = I1.USER_ID
        LEFT JOIN TBL_SCRAP S ON I1.ID = S.IDEA_ID
        WHERE 1=1
        <if test="search.ideaCategory != null">
            AND IDEA_CATEGORY = #{search.ideaCategory}
        </if>
        <if test="search.ideaPrice != null">
            <choose>
                <when test="search.ideaPrice == 10">
                    <![CDATA[ AND IDEA_PRICE >= 100000 ]]>
                </when>
                <when test="search.ideaPrice == 0">
                    <![CDATA[ AND IDEA_PRICE < 10000 ]]>
                </when>
                <otherwise>
                    <![CDATA[ AND (IDEA_PRICE >= #{search.ideaPrice} * 10000 AND IDEA_PRICE < (#{search.ideaPrice} + 1) * 10000 ) ]]>
                </otherwise>
            </choose>
        </if>
        <if test="search.ideaMax != null">
            AND IDEA_MAX = #{search.ideaMax}
        </if>
        GROUP BY I1.ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, I1.USER_ID, U.USER_NICKNAME
        ORDER BY
        <choose>
            <when test="search.order == 'popular'.toString()">
                IDEA_READ_COUNT DESC
            </when>
            <when test="search.order == 'scrap'.toString()">
                IDEA_SCRAP_COUNT DESC
            </when>
            <otherwise>
                I1.ID DESC
            </otherwise>
        </choose>
        ) I2
        <![CDATA[ WHERE ROWNUM <= #{pagination.page} * #{pagination.rowCount} ]]>
        ) I
        <![CDATA[ WHERE R > (#{pagination.page} - 1) * #{pagination.rowCount} ]]>
    </select>

    <select id="selectCountOfIdeas" resultType="_int">
        SELECT COUNT(I.ID)
        FROM TBL_USER U
        JOIN TBL_IDEA I ON U.ID = I.USER_ID
        WHERE 1=1
        <if test="search.ideaCategory != null">
            AND IDEA_CATEGORY = #{search.ideaCategory}
        </if>
        <if test="search.ideaPrice != null">
            <choose>
                <when test="search.ideaPrice >= 10">
                    <![CDATA[ AND IDEA_PRICE >= 100000 ]]>
                </when>
                <otherwise>
                    <![CDATA[ AND (IDEA_PRICE >= #{search.ideaPrice} * 10000 AND IDEA_PRICE < (#{search.ideaPrice} + 1) * 10000 ) ]]>
                </otherwise>
            </choose>
        </if>
        <if test="search.ideaMax != null">
            AND IDEA_MAX = #{search.ideaMax}
        </if>
    </select>

    <select id="selectCountOfScraps" resultType="long">
        SELECT COUNT(ID) FROM TBL_SCRAP WHERE IDEA_ID = #{ideaId}
    </select>

    <select id="select" resultType="ideaDTO5">
        SELECT I.ID, I.IDEA_TITLE, I.IDEA_INTRO, I.IDEA_DETAIL, I.IDEA_CATEGORY,
        TO_CHAR(I.IDEA_REGISTER_DATE, 'YYYY"년" MM"월" DD"일"') AS IDEA_REGISTER_DATE,
        TO_CHAR(I.IDEA_UPDATE_DATE, 'YYYY"년" MM"월" DD"일"') AS IDEA_UPDATE_DATE,
        I.IDEA_TYPE, I.IDEA_PRICE, I.IDEA_READ_COUNT, I.IDEA_MAX, I.USER_ID,
        (SELECT COUNT(*) FROM TBL_SCRAP WHERE IDEA_ID = I.ID) AS IDEA_SCRAP_COUNT
        FROM TBL_IDEA I
        WHERE I.ID = #{id}
    </select>

    <update id="updateReadCount">
        UPDATE TBL_IDEA
        SET IDEA_READ_COUNT = IDEA_READ_COUNT + 1
        WHERE ID = #{id}
    </update>

    <select id="selectFinishUserCountOfIdea" resultType="long">
        SELECT COUNT(ID) FROM TBL_IDEA_STATUS WHERE IDEA_STATUS_TYPE = '협의완료' AND IDEA_ID = #{id}
    </select>

    <select id="selectIdeasByUserId" resultType="ideaDTO4">
        SELECT ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL,
        IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE,
        IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, USER_ID
        FROM TBL_IDEA WHERE USER_ID = #{userId}
    </select>

    <select id="selectCountOfIdeasByUserId" resultType="_int">
        SELECT COUNT(ID) FROM TBL_IDEA
        WHERE USER_ID = #{userId}
    </select>
</mapper>