<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.MypageMapper">
    <select id="selectUser" resultType="userVO">
        SELECT ID, USER_EMAIL, USER_PASSWORD, USER_NAME, USER_NICKNAME, USER_TYPE, USER_INTRO, USER_PHONE, USER_STATUS
        FROM TBL_USER WHERE ID = #{id}
    </select>

    <select id="selectAllMyIdea" resultType="ideaVO">
        SELECT ID, IDEA_TITLE, IDEA_INTRO, IDEA_DETAIL, IDEA_CATEGORY, IDEA_REGISTER_DATE, IDEA_UPDATE_DATE, IDEA_TYPE, IDEA_PRICE, IDEA_READ_COUNT, IDEA_MAX, USER_ID
        FROM TBL_IDEA WHERE ID = #{id}
    </select>





</mapper>