<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.icontact.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO TBL_USER (ID, USER_EMAIL, USER_PASSWORD, USER_NAME, USER_NICKNAME, USER_PHONE)
        VALUES(SEQ_USER.NEXTVAL, #{userEmail}, #{userPassword}, #{userName}, #{userNickname}, #{userPhone})
    </insert>

    <select id="selectId" resultType="string">
        SELECT ID FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail} AND USER_PASSWORD = #{userPassword}
    </select>

    <select id="selectForEmailCheck" resultType="string">
        SELECT USER_EMAIL FROM TBL_USER
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="selectForNicknameCheck" resultType="string">
        SELECT USER_NICKNAME FROM TBL_USER
        WHERE USER_NICKNAME = #{userNickname}
    </select>

    <update id="updatedPassword">
        UPDATE TBL_USER
        SET USER_PASSWORD = #{userPassword}
        WHERE USER_EMAIL = #{userEmail}
    </update>

    <select id="selectById" resultType="userVO">
        SELECT ID, USER_EMAIL, USER_PASSWORD, USER_NAME, USER_NICKNAME, USER_TYPE, USER_INTRO, USER_PHONE, USER_STATUS
        FROM TBL_USER
        WHERE ID = #{id}
    </select>

    <update id="updatePasswordByUserId">
        UPDATE TBL_USER
        SET USER_PASSWORD = #{userPassword}
        WHERE ID = #{id}
    </update>

    <select id="selectInterestsByUserId" resultType="long">
        SELECT SUB_CATEGORY_ID FROM TBL_INTEREST WHERE USER_ID = #{userId}
    </select>

</mapper>